Django
psycopg2-binary
django_rq
django-appconf
shutilwhich
python-magic
fixedint
Pillow
python-dotenv
wheel
django_compressor
django-libsass
django-compressor-autoprefixer
djangorestframework
django-rq
requests
django-cacheops
python-memcached