Django
psycopg2-binary
django_rq
django-appconf
shutilwhich
python-magic
fixedint
Pillow
psutil
python-dotenv
wheel
django_compressor
django-libsass
django-compressor-autoprefixer
djangorestframework
django-rq
django-imagekit
requests
django-cacheops
python-memcached
bunnycdn-storage
bleach
django-qsessions
django-colorfield
django-waffle
django-activity-stream
