{% load static %}

<nav class="dashboard__nav">
	<div class="dashboard__nav__left">
		<a class="dashboard__nav__item {% if request.path == '/dashboard/videos' %}selected{% endif %}" href="{% url 'web_dashboard_videos' %}">Video Manager</a>
		<a class="dashboard__nav__item {% if request.path == '/dashboard/subscriptions' %}selected{% endif %}" href="#">Subscriptions</a>
	</div>
	<div class="dashboard__nav__right">
		<a class="dashboard__nav__item {% if request.path == '/dashboard/settings' %}selected{% endif %}" href="{% url 'web_dashboard_settings' %}">Settings</a>
	</div>
</nav>