{% load static %}

<div class="footer">
	<div class="footer__hr"></div>
	<div class="footer__content">
		<div class="footer__content__left">
			<img class="footer__content__left__logo" src="{% static 'web/img/tracle_footer.png' %}">
			<div class="footer__content__left__copyright">
				© Copyright 2020 TeamTracle
			</div>
		</div>
		<div class="footer__content__right">
			<a href="https://discord.gg/w2VcVHS">Discord</a>
			<a href="https://twitter.com/TracleOfficial">Twitter</a>
			<a href="https://github.com/TeamTracle/tracle">GitHub</a>
			<a href="https://www.buymeacoffee.com/tracle">Buy Us A Coffee</a>
			<a href="#">Contact</a>
		</div>
	</div>
</div>