{% load static %}

<nav class="nav">
	<div class="nav__left">
		<a href="{% url 'web_home' %}" class="nav__brand">
			<img src="{% static 'web/img/tracle.png' %}">
		</a>

		<div id="search-form" class="nav__search">
			<button id="search-close" class="btn btn-gray nav__search__submit nav__search__close" onclick="onCloseSearch()"><i class="fas fa-times"></i></button>
			<form>
				<input class="nav__search__input" type="text" name="q">
				<button class="btn btn-gray nav__search__submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
		<button id="search-open" class="btn btn-gray nav__search__open"><i class="fas fa-search" onclick="onOpenSearch()"></i></button>
		
		<div class="nav__section">
			<a class="nav__item" href="{% url 'web_channels' %}">Browse</a>
			<div class="seperator">|</div>
			<a class="nav__item" href="{% url 'web_upload_video' %}">Upload</a>
		</div>
	</div>

	<div class="nav__right">
		<div class="nav__section">
			{% if request.user.is_authenticated %}
				<div id="navdesktopmenu-toggle" class="nav__item" onclick="navMenuDesktopToggle()"><i class="fas fa-angle-down"></i> {{ request.channel.name }}</div>
				<div id="navdesktop-menu" class="nav__desktop-menu">
					<div class="nav__desktop-menu__head">
					  <img src="{% if request.channel.avatar %}{{ request.channel.avatar.url }}{% else %}{% static 'web/img/avatar.png' %}{% endif %}">
					  <div class="nav__desktop-menu__head__details">
					    <div>{{ request.channel.name }}</div>
					    <div>{{ request.user.email }}</div>
					    <a href="{% url 'web_dashboard_settings' %}">Manage your Tracle Account</a>
					  </div>
					</div>
					<a class="item" href="{% url 'web_channels' %}">Browse</a>
					<a class="item" href="{% url 'web_upload_video' %}">Upload</a>
					<a class="item" href="{% url 'web_signout' %}">Sign Out</a>
				</div>
			{% else %}
				<a class="nav__item" href="{% url 'web_signup' %}">Create Account</a>
				<div class="seperator">|</div>
				<a class="nav__item" href="{% url 'web_signin' %}">Sign In</a>
			{% endif %}
		</div>
	</div>
	<div id="nav-open" class="nav__toggle" onclick="navMenuOpen()"><i class="fas fa-bars"></i></div>
</nav>
