{% load static %}

<link href="{% static 'web/css/video-js.css' %}" rel="stylesheet" />
<style>
.video-js {
	color: #999;
   }
   
   .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-big-play-button {
	border: none;
	height: 80px;
	width: 88px;
	background: none;
   }
   
   .video-js:hover .vjs-big-play-button {
	background-color: unset;
   }
   
   .vjs-has-started .vjs-control-bar {
	display: grid;
   }
   .video-js .vjs-control-bar {
	grid-template-areas:
	 "progress progress progress progress progress progress progress"
	 "playtoggle volume currenttime divider duration spacer fullscreentoggle";
	grid-template-columns: 0fr 0fr 0fr 0fr 0fr 1fr 0fr;
	height: 4em;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAdCAYAAABrAQZpAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAABAAAAHQAh4gKwAAAAMUlEQVQI12OQlJD4x2Sgr8/I9OTZs5dM//79Y2T6//8/IyqLAcLClEBjYahDKCHSKADN5VNQpdTxzgAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	background-position-y: 10px;
   }
   
   .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	visibility: visible;
	opacity: 1;
	transition: none;
	height: 35px;
	background-position-y: 5px;
   }
   
   .video-js .vjs-progress-control .vjs-progress-holder {
	height: 1.1em;
   }
   
   .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-progress-control {
	height: 5px;
   }
   
   .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	visibility: visible;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
   }
   
   .video-js .vjs-play-control {
	grid-area: playtoggle;
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -38px -148px;
	z-index: 2;
   box-shadow: 1px 0px 0px #131313, 2px 0px 5px -2px #575757;
   width: 50px;
   left: 9px;
   }
   
   .video-js .vjs-play-control:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -38px -121px;
   }
   
   .video-js .vjs-playing {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -7px -338px;
   }
   
   .video-js .vjs-playing:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -7px -68px;
   }
   
   .video-js .vjs-play-control .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-play-control.vjs-ended {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -43px -283px;
   }
   
   .video-js .vjs-play-control.vjs-ended:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -43px -310px;
   }
   
   .video-js .vjs-volume-panel {
	grid-area: volume;
	z-index: 1;
   box-shadow: 1px 0px 0px #131313, 2px 0px 5px -2px #575757;
   width: 45px;
   left: 10px;
   }
   
   .video-js .vjs-mute-control .vjs-icon-placeholder::before,  .video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder::before, .vjs-icon-volume-low::before, .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder::before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-mute-control.vjs-vol-3 {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") 5px -229px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-3:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") 5px -176px;
   top: 1px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-2 {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -26px -175px;
   right: 1px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-2:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -86px -256px;
   right: 1px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-1 {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") 5px -122px;
   top: 1px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-1:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -57px -176px;
   right: 2px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-0 {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -52px -67px;
   left: 2px;
   }
   
   .video-js .vjs-mute-control.vjs-vol-0:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") 3px -256px;
   right: 1px;
   }
   
   .vjs-slider-horizontal .vjs-volume-level {
	height: 0.4em;
	background-image: linear-gradient(#bd2020 0, #6f1313 100%);
   }
   
   .video-js .vjs-slider-horizontal .vjs-volume-level::before {
	   content: '';
	   top: -0.4em;
	   right: -0.5em;
	   width: 7px;
	   height: 14px;
	   background-color: #e2e2e2;
	   border-radius: 3px;
   }
   
   .video-js .vjs-current-time {
	grid-area: currenttime;
	padding: 0 0 0 2em;
	box-sizing: content-box;
   }
   
   .video-js .vjs-current-time-display {
	color: #fff;
   }
   
   .video-js .vjs-current-time, .video-js .vjs-duration {
	display: block;
   }
   
   .video-js .vjs-time-divider {
	display: block;
	padding: 0;
	text-align: center;
	grid-area: divider;
   }
   
   .video-js .vjs-duration {
	grid-area: duration;
	padding: 0 1em 0 0;
	box-sizing: content-box;
	z-index: 2;
   }
   
   .video-js .vjs-fullscreen-control .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js .vjs-fullscreen-control {
	grid-area: fullscreentoggle;
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -123px -40px;
   }
   
   .video-js .vjs-fullscreen-control:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -84px -337px;
   }
   
   .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder::before {
	content: '';
   }
   
   .video-js.vjs-fullscreen .vjs-fullscreen-control {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") -26px -203px;
   }
   
   .video-js.vjs-fullscreen .vjs-fullscreen-control:hover {
	background: no-repeat url("/static/web/img/player-dark-vflf2FniH.png") 6px -41px;
   }
   
   .video-js .vjs-progress-control {
	grid-area: progress;
	width: 100%;
	height: 1em;
	z-index: 99;
   }
   
   .video-js .vjs-progress-control .vjs-progress-holder {
	height: 1em;
	margin: 0;
	background: none;
	background-color: #222;
   }
   
   .video-js .vjs-progress-holder .vjs-load-progress {
	background: none;
	background-color: #636363;
   }
   
   .video-js .vjs-progress-holder .vjs-load-progress > div {
	background-color: #636363;
	opacity: 1;
   }
   
   .video-js .vjs-progress-holder .vjs-play-progress {
	background: none;
	background-image: linear-gradient(180deg, #c20102 0%, #7c0000 100%);
	border-top: 1px solid #7a0001;
	border-bottom: 1px solid #470000;
	font-size: 1.5em;
	line-height: 1.2em;
   }
   
   .video-js .vjs-progress-holder .vjs-play-progress .vjs-time-tooltip {
	  display: none;
   }
   
   .video-js .vjs-progress-control:hover .vjs-time-tooltip {
	top: -2rem;
	font-size: 0.8rem
   }
   
   .video-js .vjs-progress-control:hover .vjs-progress-holder {
	font-size: inherit;
   }
   
   .video-js .vjs-custom-control-spacer {
	grid-area: spacer;
	display: block;
   box-shadow: 1px 0px 0px #131313, 2px 0px 5px -2px #575757
	z-index: 1;
   }
   
   .video-js .vjs-play-progress::before {
	content: "";
	right: -8px;
	top: -3px;
	width: 16px;
	height: 16px;
	background: no-repeat url("/static/web/img/player-common-vflzogr__.png") -305px -41px;
   }
   
   .video-js .vjs-play-progress:hover::before {
	background: no-repeat url("/static/web/img/player-common-vflzogr__.png") 0 0;
   }
   
   .html5-bezel {
	display:block;
	position: absolute;
	top: 50%;
	left: 50%;
	width:60px;
	height:60px;
	margin:-30px 0 0 -30px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:rgba(0,0,0,0.5)
   }
   .html5-bezel>div {
	position:relative;
	top:15px;
	margin:0 auto
   }
   .html5-bezel-fade {
	transform:scale(2);
	opacity:0;
	transition:opacity .25s ease-in, transform .25s ease-in;
   }
   .html5-bezel-play {
	width:0;
	height:0;
	border-top:15px solid transparent;
	border-bottom:15px solid transparent;
	border-left:20px solid white;
   }
   .html5-bezel-pause {
	width:25px;
	height:30px;
	border-right:10px solid #fff;
	border-left:10px solid #fff;
   }
   
   .vjs-loading-spinner {
	border: none;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAQAAAC1p96yAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAAB8AAAAfACoIA9kAAAIHSURBVDjLlZWxahtBEIa/OzmxtUThQMEgokDAnTsXAePODJigxoXLPEFKP0HIE7hMk0eICzchCAZSGVcWIeBORYiDq5AD2RcpcL4Ukk47q9OFTCFu9p+PHe3cvxexMrTBa9rAT95JXl0TrYQjPnEwS/q8lKKqKl65+VEJwwFH1UVr3n4xPVrAiI9yz7GpO+YDaEIDyCVdal4j3rIzSwa8IWPDw8fS1C5ulmVyHTa/V8Kwwx6XZvdLbZUwOG2F+KEpP+TE5CckJk9CfMvIW5zSL7M+p+avMM8W+NDIQynoScQ++xLRk4Kx0cchfmbkM5Ac+CKfgcdAavQ0xM8ZlM8DzqcP8mv+KyOyUs9k5A1OI17QJOaOMYV81VjuqQx1wMPF9Kevzavy4H7Ie8BxW40zoYOjQQ76SK5j0G3v1J/qNsgqGBwOmBrIaSsGdk3BLnWR2CwGOmapU4sH04+BG7N0U4sH04+BC7N0UYunNotBrrw3bihXdXQ4/dncpdDnQMoahe9nG3O/8wckA9/vGzzBsc4Ez88GXvh9It9AG5IvXtoHOGACeH72YN/v69qaemJxWSWmOmEUXE4Vum+ZJT9rl03atNnUbpVu8WCiS5fTP/xuTztdajbULb7k56DZGr975+vmE9VnND3ht3y3etj8NCaSgTZYcTl5etXuppOKz8J/hjp1dfpfJ3WnaHXCf5IAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: center;
   }
   
   .vjs-waiting .vjs-loading-spinner {
	display:block;
	width:31px;
	height:31px;
	margin-left:-15px;
	margin-top:-15px;
	-webkit-animation: spinner 1s linear infinite;
	animation: spinner 1s linear infinite;
	visibility: visible;
   }
   
   @keyframes spinner { from { transform: rotate(0deg); } to { transform: rotate(360deg); }  }
   @-webkit-keyframes spinner { from { transform: rotate(0deg); } to { transform: rotate(360deg); }  }
   
   .vjs-seeking .vjs-loading-spinner::after, .vjs-waiting .vjs-loading-spinner::after {
	display: none;
   }
   
   .vjs-seeking .vjs-loading-spinner::after, .vjs-waiting .vjs-loading-spinner::before {
	display: none;
   }
</style>

<video-js id="player" class='video-js vjs-big-play-centered' preload="auto" poster="{{ video.get_poster }}">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video-js>

<script src="{% static 'web/js/vendor/video.js' %}"></script>
<script src="{% static 'web/js/vendor/videojs-landscape-fullscreen.min.js' %}"></script>
<script src='https://cdn.sc.gl/videojs-hotkeys/latest/videojs.hotkeys.min.js'></script>
<script>

    function hideReport(event) {
        event.preventDefault();
        var el = document.getElementById('report-modal');
        el.style.display = "none";
    }

    function showReport(event) {
        event.preventDefault();
        var el = document.getElementById('report-modal');
        el.style.display = "table";

    }

    function sendReport(event) {
        event.preventDefault();
        var csrftoken = $("[name=csrfmiddlewaretoken").val();
        var data = new FormData(document.getElementById('video-report-form'));
        axios.post('/api/videos/tickets', data, {headers: {'X-CSRFToken': csrftoken}})
        .then(response => {
            var el = document.getElementById('report-modal');
            el.style.display = "none";
        })
        .catch(error => {
            var el = document.getElementById('reason-error');
            el.innerHTML = error.response.data.message;
        });
    }

    var player = videojs('player', {
        html5: {
            hls: {
                overrideNative: !videojs.browser.IS_ANY_SAFARI
            }  
        },
        controls: true,
        autoplay: false,
        preload: 'auto',
        fluid: true,
        aspectRatio: '16:9',
        responsive: false,
        controlBar: {
        children: [
            'playToggle',
            'volumePanel',
            'currentTimeDisplay',
            'timeDivider',
            'durationDisplay',
            'progressControl',
            'customControlSpacer',
            'fullscreenToggle',
        ]}
    });

    if (videojs.browser.IS_ANY_SAFARI) {
        player.src([
            {% for url in video.get_all_playlists %}
                { src: '{{ url }}', type: 'application/x-mpegURL'},
            {% endfor %}
        ]);
    } else {
        player.src({
            src: '{{ video.playlist_file.url }}',
            type: 'application/x-mpegURL'
        });
    }

    player.landscapeFullscreen();
    player.hotkeys({});

    player.on('contextmenu', function (e) {
    e.preventDefault();
    });

    function handlePlay() {
        const view_count = $('#view_count');
        const watch_id = $('#watch_id').val();
        const csrftoken = $("[name=csrfmiddlewaretoken").val();
        $.ajax({
            type: 'POST',
            url: '/api/incrementviews',
            data: {'watch_id' : watch_id},
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFToken", csrftoken);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    player.one('play', handlePlay);

    btn = document.getElementsByClassName('vjs-big-play-button')[0];
    btn.innerHTML +=
    `
    <svg class="html5-big-play-button html5-center-overlay html5-scalable-icon">
        <g opacity="0.4">
        <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M88.34,9.698
            c-1.09-1.04-2.43-1.62-3.92-1.8c-23.061-1.44-46.08-1.44-69.14,0c-1.48,0.18-2.72,0.76-3.84,1.8c-1.09,1.04-1.81,2.27-2.14,3.78
            c-1.05,7.07-1.56,14.17-1.56,21.26c0,7.21,0.51,14.27,1.56,21.34c0.33,1.51,1.05,2.74,2.14,3.779c1.12,1.051,2.36,1.621,3.84,1.801
            c23.06,1.439,46.08,1.439,69.14,0c1.49-0.18,2.83-0.75,3.92-1.801c1.12-1.039,1.77-2.34,2.1-3.819
            C91.46,48.938,92,41.878,92,34.738c0-7.09-0.54-14.16-1.561-21.22C90.109,12.038,89.46,10.818,88.34,9.698z"></path>
        </g>
        <g class="html5-overlay-button-background" opacity="0.8">
        <path d="M88.34,9.698c-1.09-1.04-2.43-1.62-3.92-1.8c-23.061-1.44-46.08-1.44-69.14,0c-1.48,0.18-2.72,0.76-3.84,1.8
            c-1.09,1.04-1.81,2.27-2.14,3.78c-1.05,7.07-1.56,14.17-1.56,21.26c0,7.21,0.51,14.27,1.56,21.34c0.33,1.51,1.05,2.74,2.14,3.779
            c1.12,1.051,2.36,1.621,3.84,1.801c23.06,1.439,46.08,1.439,69.14,0c1.49-0.18,2.83-0.75,3.92-1.801
            c1.12-1.039,1.77-2.34,2.1-3.819C91.46,48.938,92,41.878,92,34.738c0-7.09-0.54-14.16-1.561-21.22
            C90.109,12.038,89.46,10.818,88.34,9.698z"></path>
        </g>
        <path opacity="0.19" fill="#FFFFFF" enable-background="new" d="M88.34,9.698c-1.09-1.04-2.43-1.62-3.92-1.8
        c-23.061-1.44-46.08-1.44-69.14,0c-1.48,0.18-2.72,0.76-3.84,1.8c-1.09,1.04-1.81,2.27-2.14,3.78c-1.05,7.07-1.56,14.17-1.56,21.26
        c0,7.21,1.49,21.949,1.56,21.34c30.89-29.62,44.3-5.48,81.14-42.56C91.51,12.438,89.46,10.818,88.34,9.698z"></path>
        <g class="html5-overlay-button-background" opacity="0.66">
        <polygon fill="#FFFFFF" points="39.32,16.729 39.32,52.798 68.18,34.168"></polygon>
        </g>
    </svg>
    `

    var first_play = true;
    const show_bezel = function () {
        if (!first_play) {
            var play_confirm_el_container = document.createElement("div");
            play_confirm_el_container.classList.add("html5-bezel");
            play_confirm_el_container.classList.add("html5-center-overlay");
            var play_confirm_el = document.createElement("div");
            player.paused() ? play_confirm_el.classList.add("html5-bezel-pause") : play_confirm_el.classList.add("html5-bezel-play");
            play_confirm_el_container.appendChild(play_confirm_el);
            btn.parentNode.insertBefore(play_confirm_el_container, btn.nextSibling);
            setTimeout(function () { play_confirm_el_container.classList.add("html5-bezel-fade"); }, 10);
            setTimeout(function () { play_confirm_el_container.parentNode.removeChild(play_confirm_el_container); }, 600);
        }
        first_play = false;
    };

    var video_el = document.getElementById('player_html5_api');
    video_el.onclick = show_bezel;

    player.on('keydown', function (e) {
        if (e.which === 32 || e.which === 179) {
            show_bezel();
        }
    });
</script>