{% load humanize %}
{% load cache %}

<div class="feed">
    <div class="feed__header" onclick="toggleCategories()">
        <h2>
            {% if selected_category %}
                <i class="fas {{ selected_category.icon }}"></i>
                {{ selected_category.title }}
            {% else %}
                <i class="fas fa-list"></i>
                From Tracle
            {% endif %}
        </h2>
        <div><i id="header-drop" class="fas fa-angle-down"></i></div>
    </div>
    <ul id="cat-list" class="sidebar__guide sidebar__guide__closed">
        {% if user.is_authenticated %}
            <li id="subscriptions" style="margin-bottom: 2em" class="sidebar__guide__item"><i class="fas fa-list sidebar__guide__item__icon"></i><a href="/?c=subscriptions">Subscriptions</a></li>
        {% endif %}
        <li id="from_tracle" class="sidebar__guide__item"><i class="fas fa-list sidebar__guide__item__icon"></i><a href="{% url 'web_home' %}">From Tracle</a></li>
        {% for category in categories %}
            <li class="sidebar__guide__item"><i class="fas {{ category.icon }} sidebar__guide__item__icon"></i><a href="/?c={{ category.slug }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
    {% if not videos %}
        <p style="margin: 2em auto; text-align: center">We couldn't find any videos, sorry.</p>
    {% else %}
    <div class="feed__container">
        {% cache 500 primary_feed %}
        {% for video in videos %}
        <div class="feed__video">
            <a href="{% url 'web_watch' %}?v={{ video.watch_id }}"><img class="feed__video__thumbnail" src="{{ video.thumbnail_url }}" onmouseenter="showPreview(this)" onmouseleave="hidePreview(this)" data-thumbnail="{{ video.get_thumbnail }}" data-preview="{{ video.get_preview }}"></a>
            <div class="feed__video__details">
                <h2 class="feed__video__details__title" title="{{ video.title }}"><a href="{% url 'web_watch' %}?v={{ video.watch_id }}">{{ video.title }}</a></h2>
                <div class="feed__video__details__description">{{ video.description }}</div>
                <div class="feed__video__details__views">{{ video.views }} views</div>
                <a href="{% url 'web_channel' video.channel.channel_id %}" class="feed__video__details__channel">{{ video.channel.name }} </a>
                <div class="feed__video__details__timestamp">{{ video.created|naturaltime}}</div>
            </div>
        </div>
        {% endfor %}
        {% endcache %}
        <div class="pagination">
            <div class="pagination__step-links">
                {% if videos.has_previous %}
                    {% if selected_category %}
                        <a class="btn btn-gray" href="?c={{selected_category.slug}}&p=1">&laquo;</a>
                        <a class="btn btn-gray" href="?c={{selected_category.slug}}&p={{ videos.previous_page_number }}">&lt;</a>
                    {% else %}
                        <a class="btn btn-gray" href="?p=1">&laquo;</a>
                        <a class="btn btn-gray" href="?p={{ videos.previous_page_number }}">&lt;</a>
                    {% endif %}
                {% endif %}

                <span class="pagination__current">
                    Page {{ videos.number }} of {{ videos.paginator.num_pages }}
                </span>

                {% if videos.has_next %}
                    {% if selected_category %}
                        <a class="btn btn-gray" href="?c={{selected_category.slug}}&p={{ videos.next_page_number }}">&gt;</a>
                        <a class="btn btn-gray" href="?c={{selected_category.slug}}&p={{ videos.paginator.num_pages }}">&raquo;</a>
                    {% else %}
                        <a class="btn btn-gray" href="?p={{ videos.next_page_number }}">&gt;</a>
                        <a class="btn btn-gray" href="?p={{ videos.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
function showPreview(el) {
    if (el.dataset.preview != '') {
        el.src = el.dataset.preview;
    }
}

function hidePreview(el) {
    el.src = el.dataset.thumbnail;
}
</script>