<div class="secodary-feed">
	<div class="secondary-feed__container">
		{% for video in videos %}
		<a href="/watch?v={{ video.watch_id }}" class="secondary-feed__video">
			<img class="secondary-feed__video__thumbnail" src="{{ video.get_thumbnail }}">
			<div class="secondary-feed__video__details">
				<h2 class="secondary-feed__video__details__title">{{ video.title }}</h2>
				<div class="secondary-feed__video__details__channel">{{ video.channel.name }} </div>
				<div class="secondary-feed__video__details__views">{{ video.views }} views</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>