
.btn {
    height: 2.95em;
    padding: 0 .91em;
    border: 1px solid;
    outline: 0;
    font-weight: bold;
    font-size: 11px;
    white-space: nowrap;
    word-wrap: normal;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    border-radius: 3px;
}

.btn-gray {
    color: #555;
    text-shadow: 0 1px 0 #fff;
    background-color: #e0e0e0;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    box-shadow: inset 0 0 1px #fff;
    box-shadow: inset 0 0 1px #fff;
    border-color: #ccc;
    border-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    @media (hover: hover) {
        &:hover {
            border: 1px solid #999;
            color: black;
        }

        &:focus {
            border: 1px solid #999;
        }
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background: #eee;
        color: #888;
    }
}

.btn-blue {
    color: #fff;
    background-color: #6891e7;
    border-color: #304ea6 #304ea6 #000;
    text-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.45);
    background-image: linear-gradient(to bottom,#6891e7 0,#304ea6 100%);

    &:hover {
        background-image: linear-gradient(to top,#557cd1 93%,#304ea6 100%);
    }
}

.btn-dark {
    color: #fff;
    background-color: #454545;
    border-color: #333 #333 #000;
    text-shadow: 0 1px 0 rgba(0,0,0,.45);
    outline: 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.45);
    background-image: linear-gradient(to bottom,#474747 0,#2b2b2b 100%);

    &:hover {
        background-color: #333;
        background-image: linear-gradient(to top,#333 0,#333 100%);
    }
}

.btn-red {
    color: #efefef;
    background-image: linear-gradient(to bottom, #fe6969 0, #f00 100%);
    text-shadow: 0 1px #333;

    &:hover {
        background-image: linear-gradient(to top,#333 0,#333 100%);
    }
}