@import 'base';
@import 'nav';

.channel__settings {
    background-color: #6c8fc3;
    background-image: repeating-linear-gradient(135deg, #6c8fc3 50px, #7c9fd3 55px, #6c8fc3 60px);
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid #666;

    &__inner {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
        }

        &__form {
            display: flex;
            background-color: #ebebeb;
            padding: 1em;

            > div {
                width: 50%;
            }

            & a:visited {
                color: blue;
            }
        }
    }
    
}