@import 'base';
@import 'sidebar';
@import 'secondary-feed';
@import 'primary-feed';

.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"nav"
		"primary"
		"secondary"
		"footer";

	@media only screen and (min-width: 768px) {
		width: 90vw;
		grid-template-columns: 200px 1fr;
		grid-template-areas: 
			"nav nav"
			"sidebar primary"
			"footer footer";

	}

	@media only screen and (min-width: 1280px) {
		width: 90vw;
		grid-template-columns: 200px 2fr 1fr;
		grid-template-areas:
			"nav nav nav"
			"sidebar primary secondary"
			"footer footer footer";
	}
}

.primary {
	grid-area: primary;
}

.secondary {
	grid-area: secondary;
	display: none;

	@media only screen and (min-width: 1280px) {
		display: block;
	}
}
