@import 'base';
@import 'sidebar';
@import 'primary-feed';

.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"nav"
		"main"
		"footer";

	@media only screen and (min-width: 768px) {
		width: 90vw;
		grid-template-columns: 200px 1fr;
		grid-template-areas: 
			"nav nav"
			"sidebar main"
			"footer footer";

	}
}
