
@import 'mixins';
@import 'vars';
@import 'button';
@import 'nav';
@import 'footer';

$min_width: 320px;
$max_width: 1200px;
$min_font: 10px;
$max_font: 14px;

@font-face {
	font-family: "FA5Free";
	src: url('/static/web/fonts/fa-solid-900.ttf');
}

html {
	background-color: $body-bg-color;
    font: $font-stack;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.container {
	width: 90vw;
	max-width: 1280px;
	margin: 0 auto;
}

.d-none {
	display: none;
}

.d_block {
	display: block;
}

.footer {
	grid-area: footer;
	display: none;

	@media only screen and (min-width: 1280px) {
		display: block;
	}
}

// ######################################

.bottom-nav {
	position: fixed;
	width: 100vw;
	bottom: 0;
	display: flex;
	background-color: #333;
	justify-content: space-evenly;
	padding: 8px;
	background-image: linear-gradient(to bottom, #333333 0, #262626 100%);

	@media only screen and (min-width: 768px) {
		display: none;
	}

	&__item {
		color: hsla(0,0%,93.3%,.6);
		font-size: 2rem;
		width: 100%;
		text-align: center;
	}

	&__item.active {
		color: white;
	}
}

@media only screen and (min-width: 768px) {
	#header-drop {
		display: none;
	}
}