.channel-profile {
    & > h2 {
        font-size: 1rem;
        font-weight: normal;
    }
    &__about {
        max-height: 8rem;
        overflow: hidden;
        font-size: 0.9rem;
        color: #808080;
    }

    & > input {
        display: none;
    }
    
    & > input:checked ~ &__about {
        max-height: 100%;
    }

    & > input:checked ~ label:after {
        content: "less";
    }

    & > label {
        display: block;
        text-align: right;
        font-size: 0.9rem;
        color: #808080;
        cursor: pointer;

        &:after {
            content: "more";
        }

        &:hover {
            text-decoration: underline;
        }
    }
}