.footer {
	&__hr {
		margin: 0;
	    position: relative;
	    height: 0;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #fff;
	    z-index: -99;
	}

	&__content {
		display: flex;
		margin-top: 2em;
		padding-bottom: 10em;

		&__left {
			&__logo {
				opacity: 0.5;
			}

			&__copyright {
				color: #666;
				font-size: 0.8rem;
			}
		}

		&__right {
			display: flex;
			justify-content: end;
			width: 100%;
			color: #333;

			& a {
				display: block;
				color: #333;
				text-decoration: none;
				font-weight: normal;
				font-weight: bold;
				padding: 1em;
			}

			& a:hover {
				text-decoration: underline;
			}
		}
	}
}