.sidebar {
        grid-area: sidebar;
        color: #ededed;
        display: none;

        @media only screen and (min-width: 768px) {
                display: block;
                height: 100%;
                background-color: #272727;
                border-top-left-radius: 5px;
        }

        &__header {
                background-color: #6a6a6a;
                border-top-left-radius: 5px;
                padding: 10px;

                &__button {
                        display: block;
                        width: 100%;
                        margin-top: 5px;
                        line-height: 2.95em;
                        font-size: 0.9rem;
                        border: 0px;
                        text-decoration: none;
                }

                > h2 {
                        margin: 0px;
                }
        }

        &__profile {
                display: flex;
                padding: 0.8em;

                &__avatar {
                        max-width: 50%;
                        margin-right: 0.8em;
                        border-radius: 5px;
                }

                &__itemlist {
                        font-size: 0.8rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                }

                &__item {
                        display: block;
                        color: #999;
                        text-decoration: none;

                        &:hover {
                                color: white;
                        }
                }
        }

        &__guide {
                padding: 0;
                margin: 0;
                list-style: none;
                background-color: #272727;
                transform: scale(1,1);
                transform-origin: top;
                opacity: 1;
                transition: transform 300ms ease, opacity 300ms ease 100ms;

                &__item {
                        display: flex;
                        align-items: center;
                        // height: 30px;
                        border-top: 1px solid #323232;
                        border-bottom: 1px solid #1b1b1b;
                        padding: 4px 0px 4px 10px;
                        color: #9999;
                        font-size: 1rem;
                        background-image: linear-gradient(to bottom,#292929 0,#252525 100%);
                        cursor: pointer;

                        &__icon {
                                margin-right: 5px;
                                font-size: 1.4rem;
                                color: inherit;

                                &:hover {
                                        color: inherit;
                                }
                        }

                        &:hover {
                                border-right: 4px solid #999;
                                color: #999;
                                background: #1c1c1c;
                        }

                        > a {
                                display: block;
                                min-height: 28px;
                                line-height: 28px;
                                width: 100%;
                                color: inherit;
                                text-decoration: none;
                                &:hover {
                                        color: inherit;
                                }
                        }

                        &.selected {
                                border-right: 4px solid;
                                border-right-color: #c4302b;
                                background: #1c1c1c;
                                color: #999;

                                &:hover {
                                        border-right-color: #c4302b;
                                }
                        }
                }

                &__closed {
                        height: 0;
                        transform: scale(1,0);
                        opacity: 0;
                        transition: transform 300ms ease, opacity 300ms ease;
                }
        }
}

.subscriptions__container {
        padding: 0 0.8em 1em 1em;

        & > .label {
                width: 100%;
                text-align: right;
                font-size: 0.8rem;
                color: #ebebeb;
        }

        & label {
                cursor: pointer;

                &:after {
                        content: 'all';
                }
        }

        & > #sub-expander {
                display: none;
        }

        & > #sub-expander:checked ~ .subscriptions__list {
                max-height: 100%;
        }

        & > #sub-expander:checked ~ div > label:after {
                content: 'less'
        }
}

.subscriptions__list {
        display: flex;
        flex-direction: column;
        max-height: 97px;
        overflow: hidden;

        & > .item {
                color: #9999;
                text-decoration: none;
                padding: 0.4em 0 0.6em 0;

                &:hover {
                        color: #ebebeb;
                        text-decoration: underline;
                }
        }
}