@import 'base';

.channel-header {
	color: #fff;
	background-image: linear-gradient(to bottom, #333333 0, #262626 100%);
	border-top-right-radius: 5px;

	& > h2 {
		font-size: 1rem;
		line-height: 3.4rem;
		margin: 0;
		margin-left: 1em;
	}
}

.channels-container {
	display: grid;
	grid-gap: 1em;

	@media only screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.channel {
	display: grid;
	grid-template-areas:
		"thumbnail name"
		"thumbnail details";
    grid-template-columns: auto 1fr;
    grid-column-gap: 1em;
    align-items: center;
    padding: 1em;
	background-color: #fff;
	font-size: 0.9rem;
	color: #333;
	text-decoration: none;


	&:hover {
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	&:hover &__name {
		text-decoration: underline;
		color: blue;
	}

	&__thumb {
		grid-area: thumbnail;
	}

	&__name {
		grid-area: name;
		font-size: 2em;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__details {
		grid-area: details;
	}

	&__subscribers {
	}

	&__videos {
	}
}
