@import 'channel_base';
@import 'channel_profile';

.channel {
    &__body {
        display: grid;
        background-color: #e6e6e6;
        grid-template-areas: "primary" "secondary";
        
        @media only screen and (min-width: 768px) {
            grid-template-areas: "primary secondary";
            grid-template-columns: 3fr 1fr;
        }

        & .primary {
            grid-area: primary;
            padding: 3em;

            > .horizontal-rule {
                margin: 0;
                position: relative;
                height: 0;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #fff;
            }
        }

        & .secondary {
            grid-area: secondary;
            border-left: 1px solid #d2d2d2;
            padding: 1em;
            background-image: linear-gradient(to right, #d2d2d2 0%,#e1e1e1 1em);
        }
    }
}

.activity-header {
    padding: 0 0 1em 0;
    font-size: 0.9rem;
    color: #666;

    > a {
        padding: 0.5em;
        border-radius: 2px;
        color: inherit;
        text-decoration: none;

        &.selected {
            background-color: #999;
            color: #eee;
        }
    }
}

.activity-feed {
    &__body {
        margin-top: 1em;
    }

    &__item {
        display: grid;

        grid-template-areas: 
            "thumbnail thumbnail"
            "content timestamp";

        color: #333;
        border-bottom: 1px solid #ccc;
        padding: 0 0 1em 0;

        @media only screen and (min-width: 1024px) {
            grid-auto-flow: column;
            grid-template-areas: "thumbnail content timestamp";
            grid-template-columns: 0fr 3fr 1fr;
        }

        &:hover a {
            color: #1c62b9;
        }

        &__thumbnail {
            grid-area: thumbnail;
            & img {
                width: 100%;

                @media only screen and (min-width: 1024px) {
                    width: 106px;
                }
            }
        }

        &__content {
            grid-area: content;
            padding-left: 1em;
            
            > .title {
                color: #333;
                text-decoration: none;
                color: #333;
                font-size: 1.2rem;

                &:hover {
                    text-decoration: underline;
                    color: #1c62b9;
                }

                > h4 {
                    margin: 0;
                }
            }

            > .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
                color: #999;

                > a {
                    color: inherit;
                }
            }

            > .views {
                font-size: 0.8rem;
            }

            > .action {
                display: inline-block;
                padding: 1em 0 0 0;
                color: #333;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: #1c62b9;
                }
            }
        }

        &__timestamp {
            grid-area: timestamp;
            display: flex;
            align-self: flex-end;
            justify-self: right;
            font-size: 0.7rem;
            font-weight: bold;
            color: #999;

            @media only screen and (min-width: 1024px) {
                align-self: flex-start;
            }
        }
    }
}

.comment-feed__item {
    margin-bottom: 2em;
    color: #333;
    
    &__header {
        display: flex;
        padding-bottom: 1em;
        align-items: center;
    }
    
    &__avatar {
        width: 23px;
    }

    &__info {
        font-size: 1.1rem;
    }

    &__link {
        padding-left: 0.5em;
        color: #777;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__timestamp {
        color: #999;
        font-size: 0.8rem;
        padding-left: 1em;
    }

    &__body {
        background-color: #fff;
        color: #666;
        padding: 1.5em;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgb(204,204,204);

        &:hover {
            box-shadow: 0 1px 1px #888;
            color: #333;
        }
    }
}