@import 'base';
@import 'nav';

.channel {

	&__container {
		background-position-x: center;
		background-repeat: no-repeat;
		background-color: #CCCCCC;
		min-height: 100vh;
		padding-bottom: 1.5em;

		&__inner {
			padding-top: 22px;
			max-width: 1280px;
		}
	}

	&__header {
		color: white;
		background-image: linear-gradient(to bottom, #404040 0%, #282828 100%);
		display: grid;
		padding: 1em;
		border-radius: 5px 5px 0 0;
		color: #666;
		grid-template-areas:
			"thumb title title title"
			"thumb subscribe subscribers views";
		grid-row-gap: 0.5em;
		grid-template-columns: 0fr 2fr 1fr 1fr;
		grid-column-gap: 1em;

		@media only screen and (min-width: 768px) {
			display: grid;
			grid-template-areas:
				"thumb title subscribe subscribers views"
				"thumb title subscribe subscribers views";
			grid-template-columns: 0fr 1fr 7fr 1fr 1fr;
			align-items: center;
		}

		&__subscribers, &__views {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			width: max-content;
			margin: 0 auto;
		}

		&__subscribers {
			grid-area: subscribers;
		}

		&__views {
			grid-area: views;
		}

		&__subscribers > span, &__views > span {
			font-size: 1.6rem;
		}

		&__thumb {
			width: 55px;
			grid-area: thumb;
		}

		&__title {
			grid-area: title;
			margin: 0;
			color: #fff;
			position: relative;
			width: max-content;
			white-space: nowrap;

			&__checkmark {
				font-size: 1rem;
				padding: 2px;
				color: green;
				border: 1px solid green;
				border-radius: 50%;
				vertical-align: middle;
			}
		}

		&__btn-subscribe {
			grid-area: subscribe;
			display: flex;
			align-items: center;
			gap: 11px;
			// margin-left: 15px;
			background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
			box-shadow: inset 0 0 1px #fff;
			color: #555;
			border-radius: 5px;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
			line-height: 24px;
			text-shadow: 0 1px 0 #fff;
			border-color: #ccc;
			border: 1px solid;
			font-weight: bold;
			font-size: 0.8rem;
			cursor: pointer;
			max-width: max-content;
			height: 2.6rem;

			@media only screen and (min-width: 768px) {
				height: unset;
			}

			& > .fa-plus-circle {
				font-size: 1rem;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(to bottom, rgb(50, 50, 50) 0px, rgb(79, 79, 79) 70%);
		background-color: rgb(68, 68, 68);
		border-top: 1px solid #3b3b3b;

		& .nav-link {
			display: inline-block;
			color: #eaeaea;
			text-decoration: none;
			padding: 0.7em 1em;

			&:hover {
				box-shadow: 0 1px 2px rgb(34,34,34);
				background-image: linear-gradient(to top, rgb(58, 58, 58) 0%, rgb(85, 85, 85) 70%);
			}
		}

		& .nav-link-selected {
			display: inline-block;
			color: #eaeaea;
			text-decoration: none;
			padding: 0.7em 1em;
			background-color: #252525;
			box-shadow: 1px 0 15px #232323;
			background-image: linear-gradient(to bottom, #323232 0,#1c1c1c 70%);
		}

		& input {
			background-color: #333;
			outline: none;
			border-radius: 3px 0 0 3px;
			border: 0;
			border-bottom: 1px solid #626262;
			color: #fff;
			padding: 0.4em 1em;
			padding-right: 0;
			box-shadow: inset 0px 2px 3px #151515;
		}

		& .right {
			margin-right: 0.5em;
			@media only screen and (min-width: 768px) {
				margin-right: 1em;
			}
		}

		& button {
			background-color: #2b2b2b;
			color: #666;
			outline: none;
			border: 0;
			border-radius: 0 5px 5px 0;
			background-image: linear-gradient(rgb(50, 50, 50) 0px, rgb(28, 28, 28) 70%);
			padding: 0.4em;
			text-align: center;
			font-size: 1rem;
		}
	}
}

.owner-ribbon {
	display: flex;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0.5em 1em;
	background-image: linear-gradient(to bottom, #404040 0%, #282828 100%);

	> a {
		text-decoration: none;
		padding: 0.7em 1em;
	}
}