@import 'base';
@import 'dashboard_nav';

.dashboard__body {
	display: grid;

	@media only screen and (min-width: 1280px) {
		grid-template-columns: 200px auto;
	}
}

.dashboard__sidebar {
	display: flex;

	@media only screen and (min-width: 1280px) {
		display: block;
		background-image: linear-gradient(to right, $body-bg-color 0%, #e1e0e1 100%);
	}

	&__item {
		padding: 1em;
		cursor: pointer;

		&:hover {
			background-color: #fff;
		}
	}
}

.dashboard__primary {

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 1em;
	}

	&__show-more {
		text-align: center;
		cursor: pointer;
		color: #1c62b9;
		font-size: 1.1rem;
		padding: 1em;

		&:hover {
			text-decoration: underline;
		}
	}
}

.order-dropdown {
	position: relative;
	&__menu {
		display: none;
		position: absolute;
		right: 0;
		border: 1px solid #ccc;
		box-shadow: 0 1px 1px rgba(100,100,100,.2);
		background-color: #fff;
		z-index: 1;
		white-space: nowrap;
		cursor: pointer;

		&.open {
			display: block;
		}

		> div {
			padding: 0.5em 1em;

			&:hover {
				color: #fff;
				background-color: #555;
			}
		}
	}
}

.video {
	display: grid;
	grid-template-columns: 0fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	margin-bottom: 0.5em;
	background-color: #fff;
	align-items: center;

	&__thumbnail {
		max-width: 150px
	}

	&__details {

		&__title {
			color: #333;
		}

		&__created {
			color: #666;
		}
	}

	&__stats {
		color: #333;
	}
}