@import 'base';
@import 'dashboard_nav';

.container {
	width: 90vw;
	margin: 0 auto;
}

.dashboard {

	&__body {
		display: grid;
		grid-template-areas: "head head" "sidebar primary";
		grid-template-columns: 1fr 5fr;
	}

	&__title {
		margin-left: 1em;
		grid-area: head;
	}

	&__sidebar {
		grid-area: sidebar;
		background-image: linear-gradient(to right, $body-bg-color 0%, #e1e0e1 100%);
	}

	&__primary {
		grid-area: primary;
	}
}

.thumb-container {
	position: relative;
	max-width: 144px;
}

.thumb-container:hover .btn-crop-image {
	display: block;
}

.btn-crop-image {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  max-height: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  // font-family: Helvetica, Arial, sans-serif;

  & form {
  	margin-top: 1em;
  }
}

.btn-upload {
	display: inline-block;
	line-height: 2rem;

		& input {
		display: none;
	}
}

