@import 'base';
@import 'dashboard_nav';

.dashboard {
	
	&__body {
		display: grid;
		grid-template-areas: "head head" "left right";
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
	}

	&__head {
		display: flex;
		grid-area: head;
		justify-content: space-between;
		align-items: center;

		&__right {
			display: flex;
			align-items: center;

			& > .message {

				& > .error {
					color: red;
				}

				& > .success {
					color: green;
				}
			}

			& > button {
				margin-left: 1em;
			}
		}
	}

	&__left {
		grid-area: left; 
		border: 1px solid #aaa;
		padding: 1em;

		& > .thumbnail-selector img {
			width: 150px;
			height: auto;
		}
	}

	&__right {
		grid-area: right;

		& > .thumbnail img {
			max-width: 100%;
			height: auto;
		}
	}
}


.video-form {

	& label {
		display: block;
	}


	& input, & textarea {
		width: 100%;
	}
}

[v-cloak] {
	display: none;
}