@import 'base';
@import 'sidebar';

.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"nav"
		"primary"
		"footer";

	@media only screen and (min-width: 768px) {
		width: 90vw;
		grid-template-columns: 200px 1fr;
		grid-template-areas: 
			"nav nav"
			"sidebar primary"
			"footer footer";

	}
}

.primary {
	grid-area: primary;
}

// #############################################

.feed {

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 8px;

		@media only screen and (min-width: 1280px) {
			display: flex;
			flex-direction: column;
			grid-gap: 0;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 0px;
	    overflow: hidden;
        background: #2b2b2b;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-image: linear-gradient(to bottom,#333333 0,#262626 100%);
        color: #fff;

        @media only screen and (min-width: 768px) {
        	cursor: unset;
        	pointer-events: none;
        	border-top-left-radius: 0px;
        }

        > h2 {
        	font-size: 1rem;
		    line-height: 3.4rem;
		    margin: 0;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    max-width: 660px;
        }

        > div {
        	font-size: 1rem;
        }
	}

	&__video {
		display: flex;
	    align-items: flex-start;
	    flex-direction: column;
	    padding: 5px;
	    background-color: white;
		box-shadow: 0px 1px 1px 0px #333;

		@media only screen and (min-width: 1280px) {
			flex-direction: row;
			box-shadow: none;
			padding: 1.1em;
			margin-bottom: 8px;
		}

		&:hover {
			color: blue;
		}

		&__thumbnail {
			width: 100%;

			@media only screen and (min-width: 1280px) {
				max-width: 192px;
			}
		}

		&__details {
			padding-top: 5px;
			display: grid;
			grid-gap: 5px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"title title title"
				"channel views timestamp";

			@media only screen and (min-width: 1280px) {
				grid-template-columns: 2fr 1fr;
				grid-template-areas:
					"title timestamp"
					"description ."
					"views ."
					"channel .";
				grid-gap: 0;
				padding-top: 0;
				padding-left: 1em;
				width: 100%;
				height: 100%;
				line-height: 1.6rem;
			}

			&__title {
				margin: 0;
				grid-area: title;
				font-size: 1rem;
				text-overflow: ellipsis;
				text-decoration: none;

				@media only screen and (min-width: 768px) {
					font-size: 1.2rem;
					max-height: 3.4rem;
					overflow: hidden;
				}

				&:hover {
					color: blue;
					text-decoration: underline;
				}

				> a {
					color: inherit;
					text-decoration: inherit;
				}
			}

			&__description {
				grid-area: description;
				display: none;

				@media only screen and (min-width: 1280px) {
					display: block;
					color: #999;
					font-size: 0.9rem;
					overflow: hidden;
					max-height: 4ch;
				}
			}

			&__views {
				grid-area: views;
				font-size: 0.8rem;
				color: #333;
				@media only screen and (min-width: 768px) {
					font-size: 0.9rem;
				}

				&:after {
					content: '\2022';
					padding-left: 1em;

					@media only screen and (min-width: 1280px) {
						content: '';
						display: none
					}
				}
			}

			&__channel {
				grid-area: channel;
				font-size: 0.8rem;
				text-decoration: none;
				color: inherit;
				@media only screen and (min-width: 768px) {
					font-size: 0.9rem;
				}

				@media only screen and (min-width: 1280px) {
					align-self: flex-end;
				}

				&:hover {
					text-decoration: underline;
				}

				&:after {
					content: '\2022';
					padding-left: 1em;
					@media only screen and (min-width: 1280px) {
						content: 'uploaded';
						padding-left: 0;
						color: #333;
					}
				}

				&:before {
					@media only screen and (min-width: 1280px) {
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						font-family: "FA5Free";
						font-weight: 900;
						margin-right: 0.3em;
						color: #333;
						content: '\f007';
					}
				}
			}

			&__timestamp {
				grid-area: timestamp;
				font-size: 0.8rem;
				color: #999;

				@media only screen and (min-width: 1280px) {
					justify-self: end;
				}
			}
		}

	}
}
