@import 'base';

[v-cloak] {
	display: none;
}

.initial-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.file-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-hints, .upload-hints ul {
	list-style: none;
	color: #333;
}

.error-container {
	color: red;
	font-size: 2rem;
}

.video-details {
	display: grid;
	grid-template-areas: "progress btn" "form form" "thumbnails thumbnails";
	grid-template-columns: 1fr 0fr;

	@media only screen and (min-width: 1280px) {
		grid-template-areas:
			"preview progress btn"
			"preview form ."
			"status thumbnails thumbnails";
		grid-template-columns: auto 1fr auto;
	}

	grid-column-gap: 1em;
	max-width: 900px;
	padding: 1em;
	background-color: #fff;
	border: 1px solid #bbb;
	margin: 0 auto;

	& form {
		grid-area: form;

		& input, & textarea {
			width: 100%;
		}

		& > * {
			margin-top: 1em;
		}
	}

	&__status {
		grid-area: status
	}

	&__preview {
		display: none;
		grid-area: preview;

		@media only screen and (min-width: 1280px) {
			display: block;
		}

		& img {
			width: 300px;
		}
	}

	&__thumbnails {
		grid-area: thumbnails;

		&__inner {
			display: grid;
			grid-auto-flow: column;
			grid-gap: 1em;

			> .selected {
				transform: scale(1.035);

				& > img {
					box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
				}
			}

			& img {
				width: 100%;
				height: auto;
			}
		}
	}

	& progress {
		grid-area: progress;
		height: 32px;
		width: auto;
	}

	& > .btn {
		grid-area: btn;
	}
}

.field-error {
	color: red;
}