@import 'base';
@import 'secondary-feed';

.container {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 1280px) {
		display: grid;
		grid-template-areas:
			"nav nav"
			"header header"
			"primary secondary"
			"footer footer";
		grid-template-columns: 2fr 1fr;
	}
}

.nav {
	grid-area: nav;
}


.header {
	grid-area: header;
	margin-bottom: 1em;

	> .owner-ribbon {
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(to bottom, #5b5a5b, #383638 100%);

		> a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			padding: 1em;

			&:hover {
				background-image: linear-gradient(to bottom, #2c2c2c, #2d2c2e 100%);
			}
		}
	}
}

.primary {
	grid-area: primary;
	margin-bottom: 1em;
}

.video-error {
	display: flex;
	justify-content: center;
	align-items: center;

	&__message {
		font-size: 1.4rem;
	}
}

.secondary {
	grid-area: secondary;
}

.panel {
	margin-top: 1em;

	&__actions {
		display: flex;
		justify-content: space-between;

		&__left, &__right {
			display: flex;
			align-items: center;
		}

		&__left { 
			> button {
				margin-right: 0.5em;
			}

			> .btn-addto {
				&::after {
					@media only screen and (min-width: 600px) {
						content: ' Add to.. ';
					}
				}
			}
		}

		&__like {
			margin-right: 0.5em;

			@media (hover: hover) {
				&:hover > .btn-like {
					border: 1px solid #999;
				}

				&:hover > .btn-dislike {
					border: 1px solid #999;
					border-left: none;
				}
			}

			> .btn-like {
				border-right: 1px solid #9990;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				&:focus {
					border-right: 1px solid #999;
				}

				&::after {
					@media only screen and (min-width: 600px) {
						content: ' Like';
					}
				}
			}

			> .btn-dislike {
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&:focus {
					border-left: 1px solid #999;
				}
			}

			> .active {
				color: blue;
			}
		}

		&__views {
			margin-right: 0.5em;
			color: #333;

			> span {
				font-size: 1.5rem;
			}
		}
	}

	&__details {
		display: flex;
		margin-top: 1em;
		justify-content: space-between;
		height: 100%;
		overflow: hidden;

		 &--collapsed {
			height: 6em;
		}

		&__uploader {
			color: #666;
			font-size: 0.9rem;
		}

		&__description {
			color: #333;
			max-width: 710px;
			line-break: anywhere;
			white-space: break-spaces;
		}

		&__left {
			margin-right: 1em;
		}

		&__right {
			min-width: 100px;
			display: none;

			@media only screen and (min-width: 768px) {
				display: block;
			}
		}

		&__likes {
			color: #333;
			font-size: 0.9rem;
		}

		&__likebar {
			background-color: red;
			width: 100%;
			height: 5px;

			&__likes {
				background-color: green;
				width: 30%;
				height: 5px;
			}
		}

		&__minor {
			color: #666;
			font-size: 0.9rem;
		}
	}

	&__expander {
		display: flex;
		justify-content: center;
		border-top: 1px solid #bbb;
		cursor: pointer;

		&__button {
			color: #555;
			font-weight: bold;
			font-size: 0.8rem;
			cursor: pointer;
		}
	}
}

.comments {
	& > h4 {
		border-bottom: 1px solid #bbb;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		color: #666;
		font-weight: lighter;
	}
}

.comment-container {
	margin-bottom: 1em;
}

.comment {
	display: flex;
	justify-content: space-between;
	padding: 6px;
	margin-bottom: 10px;
	color: #333;

	&:hover {
		background: #fff;
	}

	&__content {
		flex-basis: 70%;

		&__body {
			word-wrap: anywhere;
			max-height: 100px;
			overflow: hidden;
			transition:max-height .3s ease;
		}

		& > input {
			display: none;
		}

		& > input:checked ~ &__more:after {
			content: "less";
		}

		& > input:checked + &__body {
			max-height: 100%;
		}

		&__more {
			display: inline-block;
			margin-left: 1em;
			margin-top: 0.5em;
			color: #1c62b9;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&:after {
				content: "more";
			}
		}

		&__meta {
			padding-top: 0.3em;
			font-size: 0.9rem;

			& a {
				color: #1c62b9;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			& > span {
				margin-right: 1em;
			}

			&__likes, &__dislikes {
				display: none;
			}
		}
	}

	&:hover &__content__meta__likes, &:hover &__content__meta__dislikes {
		display: inline;
	}

	&:hover &__actions {
		display: grid;
		grid-template-columns: max-content min-content min-content;
	}

	&__actions {
		display: none;

		&__like {
			margin-right: 0.5em;

			@media (hover: hover) {
				&:hover > .btn-like {
					border: 1px solid #999;
				}

				&:hover > .btn-dislike {
					border: 1px solid #999;
					border-left: none;
				}
			}

			& > .btn-like {
				border-right: 1px solid #9990;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				font-size: 0.7em;

				&:focus {
					border-right: 1px solid #999;
				}
			}

			& > .btn-dislike {
				border-left: none;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				font-size: 0.7em;

				&:focus {
					border-left: 1px solid #999;
				}
			}
		}

		& > .btn-reply {
			font-size: 0.7em;
		}

	}
}

.reply-container {
	margin-left: 1em;

	&__inner {
		display: none;
	}

	& > label { color: #1c62b9; }

	& > input { display: none; }

	& > input:checked ~ &__inner {
		display: block;
	}

	& > label:before {
		content: 'Show ';
	}

	& > input:checked ~ label:before {
		content: 'Hide ';
	}
}

.comment-form {
	margin-bottom: 1em;

	&__textbox {
		width: 100%;

		@media only screen and (min-width: 768px) {
			width: 70%;
		}
	}

	&__actions {
		display: flex;
		justify-content: space-between;

		@media only screen and (min-width: 768px) {
			max-width: 70%;
		}
	}
}

.reply-form {
	margin-bottom: 1em;

	&__textbox {
		width: 70%;
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		max-width: 70%;

		& span {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.comment-form--signin {
	background: #eee;
	border: 1px solid #ccc;
	padding: 5px;
	height: 4rem;
	font-size: 1rem;

	> a {
		color: #1c62b9;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.report-form {

	padding: 1em;

	& > fieldset {
		padding: 1em 0;
		border: none;
		margin: 0;
	}

	&__actions {
		display: flex;
		border-top: 1px solid #ebebeb;
		padding: 1em;
		justify-content: end;

		& > button {
			margin-right: 1em;
		}
	}
}

.modal-container > .share-embed {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& > code {
		border: 1px solid #ccc;
	}
}

.modal-container > .share-link {
	& > input {
		border-color: #ccc;
		border: 1px solid #ccc;
	}
}