@charset "UTF-8";
.btn {
  height: 2.95em;
  padding: 0 0.91em;
  border: 1px solid;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
  word-wrap: normal;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.btn-gray {
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background-color: #e0e0e0;
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;
  border-color: #ccc;
  border-style: solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (hover: hover) {
  .btn-gray:hover {
    border: 1px solid #999;
    color: black;
  }
  .btn-gray:focus {
    border: 1px solid #999;
  }
}
.btn-gray:focus {
  outline: none;
}
.btn-gray:disabled {
  background: #eee;
  color: #888;
}

.btn-blue {
  color: #fff;
  background-color: #6891e7;
  border-color: #304ea6 #304ea6 #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#6891e7,EndColorStr=#304ea6);
  background-image: -moz-linear-gradient(top, #6891e7 0, #304ea6 100%);
  background-image: -ms-linear-gradient(top, #6891e7 0, #304ea6 100%);
  background-image: -o-linear-gradient(top, #6891e7 0, #304ea6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6891e7), color-stop(100%, #304ea6));
  background-image: -webkit-linear-gradient(top, #6891e7 0, #304ea6 100%);
  background-image: linear-gradient(to bottom, #6891e7 0, #304ea6 100%);
}
.btn-blue:hover {
  background-image: linear-gradient(to top, #557cd1 93%, #304ea6 100%);
}

.btn-dark {
  color: #fff;
  background-color: #454545;
  border-color: #333 #333 #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  outline: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  background-image: linear-gradient(to bottom, #474747 0, #2b2b2b 100%);
}
.btn-dark:hover {
  background-color: #333;
  background-image: linear-gradient(to top, #333 0, #333 100%);
}

.nav {
  display: flex;
  grid-area: nav;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  min-height: 48px;
  font-size: 1rem;
}
.nav__search {
  display: flex;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  right: 0;
  left: 0;
  top: -999px;
  justify-content: space-between;
  background-color: #ebebeb;
  transform: scale(0, 1);
  opacity: 0;
  transform-origin: right;
  transition: transform 300ms ease, opacity 600ms ease 100ms;
}
@media only screen and (min-width: 768px) {
  .nav__search {
    position: relative;
    top: 0;
    opacity: 1;
    transform: scale(1, 1);
    width: 50%;
    justify-content: flex-start;
    margin-right: 16px;
  }
}
.nav__search > form {
  display: flex;
  width: 100%;
}
.nav__search-opened {
  display: flex;
  transform: scale(1, 1);
  opacity: 1;
  top: 8px;
}
.nav__search__input {
  border: 1px solid #ccc;
  border-right: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0.25em 1em;
  outline: 0;
  width: 100%;
}
.nav__search__submit {
  height: 32px;
}
.nav__search__open {
  height: 32px;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .nav__search__open {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav__search__close {
    display: none;
  }
}
.nav__item {
  color: #333;
  text-decoration: none;
}
.nav__brand {
  margin-right: 16px;
}
.nav__brand > img {
  max-width: 8em;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
@media only screen and (min-width: 768px) {
  .nav__left {
    justify-content: flex-start;
  }
}
.nav__right {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .nav__right {
    min-width: 12em;
  }
}
.nav__section {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .nav__section {
    display: none;
  }
}
.nav__section > .seperator {
  color: #ccc;
  padding: 0 5px;
}
.nav__toggle {
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}
.nav__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 1.6rem;
  line-height: 1.4;
  transform-origin: top;
  transform: scale(1, 0);
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 300ms ease-in-out;
  background: linear-gradient(90deg, #ebebeb 0%, #e2e2e2 35%, #eeeeee 100%);
  z-index: 1;
}
.nav__menu__open {
  transform: scale(1, 1);
  opacity: 1;
}
.nav__menu__head {
  display: flex;
  align-items: center;
}
.nav__menu__head > button {
  margin: 1em;
  margin-right: 3em;
}
.nav__menu > .item {
  display: block;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid white;
  margin: 1em;
}

@font-face {
  font-family: "FA5Free";
  src: url("/static/web/fonts/fa-solid-900.ttf");
}
html {
  background-color: #ebebeb;
  font: 62.5% arial, sans-serif;
}
html {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

.d-none {
  display: none;
}

.footer {
  grid-area: footer;
  display: none;
}
@media only screen and (min-width: 1280px) {
  .footer {
    display: block;
  }
}

.bottom-nav {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  background-color: #333;
  justify-content: space-evenly;
  padding: 8px;
  background-image: linear-gradient(to bottom, #333333 0, #262626 100%);
}
@media only screen and (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}
.bottom-nav__item {
  color: rgba(238, 238, 238, 0.6);
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
.bottom-nav__item.active {
  color: white;
}

@media only screen and (min-width: 768px) {
  #header-drop {
    display: none;
  }
}
.secondary-feed__container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
@media only screen and (max-width: 1279px) {
  .secondary-feed__container {
    margin: 0;
  }
}
.secondary-feed__video {
  display: flex;
  margin-bottom: 1em;
  color: #333;
  text-decoration: none;
}
.secondary-feed__video:hover {
  background-color: white;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: blue;
}
.secondary-feed__video__thumbnail {
  max-width: 35%;
}
.secondary-feed__video__details {
  margin-left: 1em;
  max-width: 50%;
}
.secondary-feed__video__details__title {
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.3rem;
  margin-bottom: 0.5em;
  color: inherit;
}
.secondary-feed__video__details__channel {
  font-size: 0.9rem;
  color: #333;
}
.secondary-feed__video__details__views {
  font-size: 0.9rem;
  color: #333;
}

.alpha-banner {
  color: #e2e2e2;
  background-color: #2b2b2b;
  padding: 10px;
  border-top-right-radius: 5px;
  margin-left: 1em;
  margin-bottom: 1em;
}
.alpha-banner > a {
  color: inherit;
  text-decoration: none;
}
.alpha-banner > a > div {
  display: flex;
  align-items: center;
  background-color: #0008;
  border-radius: 8px;
  margin: 5px;
  padding: 0px 6px;
}
.alpha-banner > a > div > img {
  height: 32px;
  margin-right: 1em;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-areas: "nav nav" "header header" "primary secondary" "footer footer";
    grid-template-columns: 2fr 1fr;
  }
}

.nav {
  grid-area: nav;
}

.header {
  grid-area: header;
  margin-bottom: 1em;
}

.primary {
  grid-area: primary;
  margin-bottom: 1em;
}

.secondary {
  grid-area: secondary;
}

.panel {
  margin-top: 1em;
}
.panel__actions {
  display: flex;
  justify-content: space-between;
}
.panel__actions__left, .panel__actions__right {
  display: flex;
  align-items: center;
}
.panel__actions__left > button {
  margin-right: 0.5em;
}
@media only screen and (min-width: 600px) {
  .panel__actions__left > .btn-addto::after {
    content: " Add to.. ";
  }
}
.panel__actions__like {
  margin-right: 0.5em;
}
@media (hover: hover) {
  .panel__actions__like:hover > .btn-like {
    border: 1px solid #999;
  }
  .panel__actions__like:hover > .btn-dislike {
    border: 1px solid #999;
    border-left: none;
  }
}
.panel__actions__like > .btn-like {
  border-right: 1px solid #9990;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.panel__actions__like > .btn-like:focus {
  border-right: 1px solid #999;
}
@media only screen and (min-width: 600px) {
  .panel__actions__like > .btn-like::after {
    content: " Like";
  }
}
.panel__actions__like > .btn-dislike {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.panel__actions__like > .btn-dislike:focus {
  border-left: 1px solid #999;
}
.panel__actions__like > .active {
  color: blue;
}
.panel__actions__views {
  margin-right: 0.5em;
  color: #333;
}
.panel__actions__views > span {
  font-size: 1.5rem;
}
.panel__details {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.panel__details--collapsed {
  height: 6em;
}
.panel__details__uploader {
  color: #666;
  font-size: 0.9rem;
}
.panel__details__description {
  color: #333;
}
.panel__details__left {
  margin-right: 1em;
}
.panel__details__right {
  min-width: 100px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .panel__details__right {
    display: block;
  }
}
.panel__details__likes {
  color: #333;
  font-size: 0.9rem;
}
.panel__details__likebar {
  background-color: red;
  width: 100%;
  height: 5px;
}
.panel__details__likebar__likes {
  background-color: green;
  width: 30%;
  height: 5px;
}
.panel__details__minor {
  color: #666;
  font-size: 0.9rem;
}
.panel__expander {
  display: flex;
  justify-content: center;
  border-top: 1px solid #bbb;
  cursor: pointer;
}
.panel__expander__button {
  color: #555;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.video-js .vjs-big-play-button {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAA8CAYAAABfESsNAAAAnElEQ…p2Utr2tFn/OvT5s5b0BHwJdmZ2Bybg0NmllB5d190kHb5cL8J5WhbWZJeBAAAAAElFTkSuQmCC), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAIAAAAok0etAAAAJUlEQVR42mNKTU1lunnzJtP///+ZGBgYwDQ6xiVOrhw1zSNRPQBu5Zagca3K1AAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAA8CAYAAABfESsNAAAAmklEQ…iRMhrXA1Gk0D+uoQH+gIkIRSCrC5gIeOIBkA74+PHjRgDhswBcaL43lQAAAABJRU5ErkJggg==);
  background-size: 10px 100%, 40px 100%, 10px 100% !important;
  background-position: left center, center center, right center;
  border: none;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  content: "";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FA5Free";
  font-weight: 900;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.video-js .vjs-control-bar {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAaCAIAAAD5ZqGGAAAAJklEQVR42mNKSUlhevToEdPXr1+Z/v37RxH+//8/htjv379BZgMA4j5LOzqaqAsAAAAASUVORK5CYII=) center center repeat-x;
  background-repeat: repeat-x;
  background-size: contain;
  width: 98%;
  margin: 0 auto;
  border-radius: 0.5em;
}

.video-js .vjs-progress-holder {
  border-radius: 1em;
  height: 0.9em;
  background-color: #333;
  box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.75);
}

.video-js .vjs-progress-holder .vjs-load-progress {
  background: black;
  border-radius: 1em;
}

.video-js .vjs-progress-holder .vjs-load-progress div {
  background-color: black;
  border-radius: 1em;
}

.video-js .vjs-progress-holder .vjs-play-progress {
  border-radius: 1em;
}

.video-js .vjs-progress-holder .vjs-play-progress::before {
  content: unset;
}

.video-js .vjs-current-time {
  display: block;
}

.video-js .vjs-duration {
  display: block;
}

.video-js .vjs-progress-control:hover .vjs-play-progress > .vjs-time-tooltip {
  display: none;
}

.video-js .vjs-progress-control:hover .vjs-time-tooltip {
  font-size: 0.8rem;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: inherit;
}

/*# sourceMappingURL=watch.css.map */
