export DJANGO_SETTINGS_MODULE="tracle.settings.local"

export DEBUG='1'
export DJANGO_LOGLEVEL='INFO'
export TRACLE_LOGLEVEL='DEBUG'
export ALLOWED_HOSTS="localhost"
export SECURE_SSL_REDIRECT="0"
export SESSION_COOKIE_SECURE="0"
export CSRF_COOKIE_SECURE="0"
export CSRF_COOKIE_DOMAIN="localhost"
export SECURE_BROWSER_XSS_FILTER="0"

## BUNNYNET VIDEO
export BUNNYNET_ENABLED=0 # enter details below and set to 1 to enable
export BUNNYNET_ACCESS_TOKEN="YOUR_ACCESS_TOKEN"
export BUNNYNET_LIBRARY_ID="YOUR_LIBRARY_ID"
export BUNNYNET_STORAGE_URL="YOUR_STORAGE_URL"
export BUNNYNET_CALLBACK_KEY="YOUR_CALLBACK_KEY"

##TEST STORAGE
export BUNNYCDN_ENABLED=0 # enter details below and set to 1 to enable
export BUNNYCDN_STORAGE_ZONE_NAME="YOUR_STORAGE_ZONE_NAME"
export BUNNYCDN_ACCESS_TOKEN="YOUR_ACCESS_TOKEN"
export BUNNYCDN_PULLZONE_URL="YOUR_PULLZONE_URL"
export BUNNYCDN_ACCOUNT_TOKEN="YOUR_ACCOUNT_TOKEN"

export SQL_ENGINE="django.db.backends.postgresql_psycopg2"
export SQL_DATABASE="tracle_beta"
export SQL_USER="tracle"
export SQL_PASSWORD="tracle"
export SQL_HOST="postgres"
export SQL_PORT="5432"

export EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
export EMAIL_HOST_USER="info@tracle.tv"
export EMAIL_PORT="1025"
export EMAIL_USE_TLS="0"
export EMAIL_HOST_PASSWORD="password"
export EMAIL_HOST="mail"
export DEFAULT_FROM_EMAIL="info@tracle.tv"
export SERVER_EMAIL="info@tracle.tv"

export REDIS_RQ_HOST="redis"
export REDIS_RQ_PORT="6379"
export REDIS_RQ_DB="0"

export REDIS_CACHE_HOST="redis"
export REDIS_CACHE_PORT="6379"
export REDIS_CACHE_DB="1"

export INSTALLED_APPS="silk;django_extensions"

export ALLOW_VIDEO_UPLOAD="1"
