{% extends 'web/base.html' %}

{% load static %}

{% block title %}
    <title>404 Not Found</title>
{% endblock title %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/404.scss' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'web/includes/nav.html' %}

        <div class="content">
            <img src="{% static 'web/img/error.png' %}">
            <p class="error-text">
                We're sorry, the page you requested cannot be found. Try searching for something else. 
            </p>
            
        </div>

        {% include 'web/includes/footer.html' %}
{% endblock body  %}