{% extends 'web/channel_base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}

{% block css %}
	<link href="{% static 'web/css/video-js.css' %}" rel="stylesheet" />
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/channel_featured.scss' %}">
{% endblock %}

{% block channel_body %}
<div class="channel__body">
	<div class="primary">
		{% if video %}
		<div class="channel-featured-video">
			{% include 'web/includes/player.html' %}
			<div class="channel-featured-video__details">
				<a href="/watch?v={{ video.watch_id }}">{{ video.title }}</a>
				<div>uploaded {{ video.created|naturaltime }}, {{ video.views_sum }} views</div>
			</div>
		</div>
		{% else %}
			<h3>
				This channel has not uploaded any videos yet.
			</h3>
		{% endif %}
	</div>
	<div class="secondary">
		{% include 'web/includes/channel_profile.html' %}
	</div>
</div>
{% endblock %}
