{% extends 'web/channel_base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/channel_videos.scss' %}">
{% endblock %}

{% block channel_body %}
<div class="channel__body">
	<div class="channel__body__header">
		<h2>Uploads ({{ video_count }})</h2>
		<div class="order-dropdown">
			<button class="btn btn-gray channel__body__header__button" onclick="toggleDropdown()">
				{% if ordering == 'da' %}
					Date added (newest - oldest)
				{% elif ordering == 'dd' %}
					Date add (oldest - newest)
				{% elif ordering == 'p' %}
					Most popular
				{% endif %}
			<i class="fas fa-caret-down"></i></button>
			<div id="ordermenu" class="order-dropdown-content">
				<a href="?sort=p">Most popular</a>
				<a href="?sort=da">Date added (newest - oldest)</a>
				<a href="?sort=dd">Date added (oldest - newest)</a>
			</div>
		</div>
		<script>
			function toggleDropdown() {
				content = document.getElementById('ordermenu');
				content.classList.toggle('open');
			}
		</script>
	</div>
	<div class="channel__body__sidebar">
		<div class="channel__body__sidebar__item selected">
			Uploaded Videos
		</div>
		<div class="channel__body__sidebar__item">
			<!-- Playlists -->
		</div>
	</div>
	<div class="channel__body__primary">
		<div class="feed__container">
			{% for video in videos %}
			<div class="feed__video">
				<a href="{% url 'web_watch' %}?v={{ video.watch_id }}"><img class="feed__video__thumbnail" src="{{ video.get_thumbnail }}"></a>
				<div class="feed__video__details">
					<a class="feed__video__details__title" href="{% url 'web_watch' %}?v={{ video.watch_id }}" title="{{ video.title }}">{{ video.title }}</a>
					<span class="feed__video__details__views">{{ video.views }} views</span><span class="feed__video__details__timestamp">{{ video.created|naturaltime }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pagination">
            <div class="pagination__step-links">
                {% if videos.has_previous %}
					<a class="btn btn-gray" href="?p=1">&laquo;</a>
					<a class="btn btn-gray" href="?p={{ videos.previous_page_number }}">&lt;</a>
                {% endif %}

                <span class="pagination__current">
                    Page {{ videos.number }} of {{ videos.paginator.num_pages }}
                </span>

                {% if videos.has_next %}
					<a class="btn btn-gray" href="?p={{ videos.next_page_number }}">&gt;</a>
					<a class="btn btn-gray" href="?p={{ videos.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </div>
        </div>
	</div>
</div>
{% endblock %}
