{% extends 'web/dashboard_base.html' %}
{% load static %}
{% load compress %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/dashboard_account.scss' %}">
{% endblock css %}

{% block dashboard_body %}
	<div id="app">
		<div class="dashboard__body">
			<div class="dashboard__sidebar">
			</div>
			<div class="dashboard__primary">
				<h2 class="dashboard__title">Account settings</h2>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% if form.subject.errors %}
						<ol>
						{% for error in form.subject.errors %}
							<li><strong>{{ error|escape }}</strong></li>
						{% endfor %}
						</ol>
					{% endif %}
					<p>
						<label for="id_email">E-Mail:</label><br/>
						{{ form.email }} {{ form.email.errors }}
					</p>
					<p>
						<label for="id_channel_name">Channel Name:</label><br/>
						{{ form.channel_name }} {{ form.channel_name.errros }}
					</p>
					<p>
						<label for="id_description">Description:</label><br/>
						{{ form.description }} {{ form.description.errors }}
					</p>
					<input class="btn btn-blue" type="submit" name="submit" value="Save">
				</form>
				<div class="thumb-container">
					<img :src="img">
					<button id="show-modal" class="btn btn-gray btn-crop-image" @click="showModal = !showModal">Edit</button>
				</div>
				<p><a href="{% url 'web_forgot_password' %}">Change password</a></p>
			</div>

		</div>
		<modal v-if="showModal" @close="showModal = false" v-bind:img="img"></modal>
	</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-advanced-cropper@0.17.2/dist/index.umd.js"></script>


<script type="text/javascript">
	Vue.component('modal', {
		delimiters: ['[[', ']]'],
		props: ['img'],
		methods: {
			uploadImage(event) {
				console.log('SAKDASKD');
				var input = event.target;
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = (e) => {
						this.img = e.target.result;
					}
					reader.readAsDataURL(input.files[0]);
				}
			},
			save(event) {
				event.preventDefault();
				const {coordinates, canvas} = this.$refs.cropper.getResult();
				canvas.toBlob((blob) => {
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData();
					data.append('avatar', blob, '{{ channel.channel_id }}.png');
					axios.post('/api/uploadavatar', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}}).then((response) => { this.$emit('close'); }, (error) => {console.log(error);});
				});
			},
			pixelsRestrictions({minWidth, minHeight, maxWidth, maxHeight, imageWidth, imageHeight}) {
				return {
					minWidth: minWidth,
					minHeight: minHeight,
					maxWidth: maxWidth,
					maxHeight: maxHeight
				}
			}
		},
		template: `
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-container">
						<h2>Change Profile Picture</h2>
						<cropper ref="cropper" :src="img" :stencil-props="{aspectRatio: 1}"></cropper>
						<form method="POST" enctype="multipart/form-data">
							<button class="btn btn-gray" @click="$emit('close')">Cancel</button>
							<span class="btn btn-gray btn-upload" @click="$refs.file.click()">
								<input id="file" name="avatar" type="file" ref="file" @change="uploadImage($event)" accept="image/*">
								Upload image
							</span>
							<button class="btn btn-blue" @click="save($event)">Save</button>
						</form>
					</div>
				</div>
			</div>
			`
	})

	var app = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app',
		data: {
			img: '{% if channel.avatar %}{{ channel.avatar.url }}{% else %}/static/web/img/avatar.png{% endif %}',
			showModal: false
		}
	})
</script>
{% endblock %}