{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Community Guidelines - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/terms.scss' %}">
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}
		<div class="body">
			<h1>Tracle Community Guidelines</h1>
			<p>We at Tracle have decided to update our community guidelines to ensure the freedom, heath and growth of our community. Introducing a couple of minor changes that will not interfere overall with the circulation of videos.</p>
			<p>It’s worth noting that the main purpose behind this update is to help the Tracle community become more engaging, bigger and better when it comes to it’s users and content creation. Bad actors did not build Youtube or grown Odysee, it was the (original) content creators who are willing to put effort into their videos.</p>
			<h3>The Tracle rules</h3>
			<ul>
				<li>Do not use this website if you are under 13 years of age.</li>
				<li>Do not repeatedly post or re-upload the same video/comment, repeated attempts will result in termination.</li>
				<li>Videos, thumbnails, banners and profile pictures depicting sexual acts, (real) graphic content, physical and mental abuse inflicted upon another individual or links redirecting users towards such content are not allowed.</li>
				<li>Accounts that appear to be hacked will be archived until the situation is dealt with.</li>
				<li>Attempts of evading termination are futile.</li>
				<li>Do not upload hate speech, or any other form of content meant to generate and spread hate against a certain group of people.</li>
				<li>Do not use Tracle to harass, bully and spread personal information of others without their consent.</li>
				<li>Any copyrighted material (full uploads of TV Shows, Movies, and more) will be taken down. Exceptions would be remixed/transformative/fair use content for educational or archival purposes, if the copyright holder is okay with it. If not, the video in question will be taken down.</li>
				<li>Exploitation and abuse of the report system is not tolerated on Tracle.</li>
				<li>Use of multiple accounts, owned by the same individual, to impact the performance of a main account also owned by said individual will result in all accounts being terminated.</li>
			</ul>

			<h3>Enforcement</h3>
			<p>
				If an account breaks the rules, they will be notified and the specific content uploaded/posted that broke it will be taken down. Depending on the amount or severity of violations, either a permanent archival of the account’s channel or an instant termination will ensue. If more difficult cases appear, the community will be consulted and changes to the guidelines will be made.
			</p>
			<h3>Transparency:</h3>
			<p>All accounts notified, archived and terminated are brought up as a topic of discussion to the Tracle community, to prevent shadow banning and abuse of power, every action taken by the moderators will be automatically sent to our server and will be publicly visible along with the reasoning behind such actions and penalties.</p>
		</div>
		{% include 'web/includes/footer.html' %}
	</div>
{% endblock %}
