{% extends 'web/base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}
{% load index %}

{% block title %}
	<!-- Primary Meta Tags -->
<title>Tracle</title>
<meta name="title" content="Tracle">
<meta name="description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.tracle.tv/">
<meta property="og:title" content="Tracle">
<meta property="og:description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">
<meta property="og:image" content="{% static 'web/img/tracle.svg' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.tracle.tv/">
<meta property="twitter:title" content="Tracle">
<meta property="twitter:description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on Tracle.">
<meta property="twitter:image" content="{% static 'web/img/tracle.svg' %}">
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/home.scss' %}">
{% endblock css %}

{% block body %}
<div class="container">
	
	{% include 'web/includes/nav.html' %}
	{% include 'web/includes/sidebar.html' %}
	<div class="primary">
		{% include 'web/includes/primary_feed.html' %}
	</div>
	<div class="secondary">
		<div class="alpha-banner">
			<h2>Welcome to Tracle!</h2>
			<a target="_blank" href="https://discord.gg/gKatcJ8">
				<div>
					<img src="{% static 'web/img/discord_icon.png' %}">
					<p>Join the official discord server to share your thoughts about Tracle with us!</p>
				</div>
			</a>
			<a target="_blank" href="https://github.com/TeamTracle/tracle">
				<div>
					<img src="{% static 'web/img/github.png' %}">
					<p>Report bugs, make suggestions or make your contribution on GitHub!</p>
				</div>
			</a>
			<a target="_blank" href="https://www.buymeacoffee.com/tracle">
				<div>
					<img style="margin-left: 0.7em;" src="{% static 'web/img/bmc_icon.png' %}" alt="Buy us a coffee">
					<p>Buy us a coffee!</p>
				</div>
			</a>
			<a target="_blank" href="https://teespring.com/stores/tracle">
				<div>
					<img src="{% static 'web/img/tracle_play.svg' %}">
					<p>Buy some merch</p>
				</div>
			</a>
		</div>
		{% include 'web/includes/secondary-feed.html' %}
	</div>
	{% include 'web/includes/footer.html' %}
</div>

<!-- <nav class="bottom-nav">
	<a class="bottom-nav__item" href=""><i class="fas fa-home"></i></a>
	<a class="bottom-nav__item" href=""><i class="fas fa-burn"></i></a>
	<a class="bottom-nav__item" href=""><i class="fas fa-book"></i></a>
</nav> -->

{% endblock %}

{% block script %}
{% if not search_term %}
<script>
	$(function() { 
		var selected_catetory = getUrlParameter('c');
		if (selected_catetory) {
			$('#' + selected_catetory).addClass('selected');

		} else {
			$('#from_tracle').addClass('selected');
		}
	});
</script>
{% endif %}
{% endblock %}