{% extends 'web/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
	<title>Upload Video - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/upload_video.scss' %}">
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}

		<div id="app" v-cloak>
			<div class="initial-upload" v-bind:style="{ display: displayInitialUpload }">
				<div class="file-container">
					<h4>Click the button below to upload a video to your channel.</h4>
					<span id="browseButton" style="line-height: 2rem;" class="btn btn-gray">Select Video</span>
					<ul class="upload-hints">
						<li>Max files size is <strong>1GB</strong></li>
						<li>Recommended encoding settings:
							<ul>
								<li>Container: <strong>MP4</strong></li>
								<li>Audio Codec: <strong>AAC-LC</strong></li>
								<li>Video Codec: <strong>H.264</strong></li>
								<li><strong>720p @ 5 Mbps</strong></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="error-container" v-bind:style="{ display: hasError }">
				<span class="error">[[ error_message ]]</span>
			</div>

		<div class="video-details" v-bind:style="{ display: displayVideoDetails }">
			<div class="video-details__preview"><img :src="this.selectedThumbnail" :data-pk="this.selectedThumbnailPk"></div>
			<div class="video-details__status">[[ status ]]</div>
			<progress max="100" :value.prop="uploadPercentage"></progress>
			<button class="btn btn-blue" @click="publishVideo($event)">Publish</button>
			<form id="video_form" method='POST' enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="watch_id" :value="this.watch_id">
					<input type="hidden" name="channel" :value="this.channel">
					<input type="hidden" name="selectedThumbnail" :value="this.selectedThumbnailPk">
				<div>
					<input type="text" name="title" value="" placeholder="TITLE" required>
				</div>
				<div>
					<textarea name="description" placeholder="DESCRIPTION" required></textarea>
				</div>
				<div>
					<label>Category:
						{{ form.category }}
						<span class="field-error">[[ category_error ]]</span>
					</label>
					<label>
						<select id="id_visibility" name="visibility">
							<option value="PRIVATE">Private</option>
							<option value="UNLISTED">Unlisted</option>
							<option value="PUBLIC">Public</option>
						</select>
					</label>
				</div>
			</form>
			<div class="video-details__thumbnails">
				<p>VIDEO THUMBNAILS</p>
				<div class="video-details__thumbnails__inner">
					<span class="selected" @click="selectThumbnail($event)"><img :src="this.thumbnails.images[0].thumbnail" :data-pk="this.thumbnails.images[0].pk"></span>
					<span @click="selectThumbnail($event)"><img :src="this.thumbnails.images[1].thumbnail" :data-pk="this.thumbnails.images[1].pk"></span>
					<span @click="selectThumbnail($event)"><img :src="this.thumbnails.images[2].thumbnail" :data-pk="this.thumbnails.images[2].pk"></span>
					<span @click="selectThumbnail($event)"><img :src="this.customThumbnail" :data-pk="-1"></span>
				</div>
			</div>
			<div class="video-details__customthumbnail__container">
				<p>CUSTOM THUMBNAIL</p>
				<button class="customthumbnail__container__button" @click="openFileDialog">Select</button>
				<form id="thumbnail_form" method="POST">
					<input id="id_customthumbnail" style="display: none;" name="custom_thumbnail" ref="custom_thumbnail" type="file" accept="image/*" @change="customThumbnailSelected()">
				</form>

			</div>
		</div>	
		</div>
	{% include 'web/includes/footer.html' %}
	</div>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/resumablejs@1/resumable.min.js"></script>
	<script type="text/javascript">

		var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data: {
				watch_id: null,
				thumbnails: {images: [{thumbnail: '/static/web/img/video_thumb_placeholder.png'},{thumbnail: '/static/web/img/video_thumb_placeholder.png'},{thumbnail: '/static/web/img/video_thumb_placeholder.png'}]},
				selectedThumbnail: '/static/web/img/video_thumb_placeholder.png',
				selectedThumbnailPk: 0,
				customThumbnail: '/static/web/img/video_thumb_placeholder.png',
				hasCustomThumbnail: false,
				uploadPercentage: 0,
				error_message: '',
				displayVideoDetails: 'none',
				displayInitialUpload : 'flex',
				hasError: 'none',
				channel: '',
				category_error: '',
				statuses: {
					queued: 'Your video is queued for processing.',
					started: 'Your video is being processed.',
					finished: 'Your video has been processed.',
					failed: 'An unexpected error occured during processing.'
				},
				status: 'Your video is queued for processing.',
				r: null,
				upload_id: null
			},
			mounted() {
				var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
				ResumableField = new Resumable({
					target:'/api/videos',
					headers: {'X-CSRFToken' : csrftoken},
					maxFiles: 1,
					maxFileSize: 1073741824, // 1GB
					forceChunkSize: true,
					simultaneousUploads: 3,
					chunkSizeParameterName: '',
					relativePathParameterName: '',
					identifierParameterName: 'upload_id',
					generateUniqueIdentifier: this.generateUniqueIdentifier,
					currentChunkSizeParameterName: 'chunk_size',
					chunkNumberParameterName: 'chunk_number',
					totalChunksParameterName: 'total_chunks',
					totalSizeParameterName: 'total_size',
					fileNameParameterName: 'filename',
					typeParameterName: 'mime_type',
					testChunks: false
				});
				// Resumable.js isn't supported, fall back on a different method
				if(!Resumable.support) {console.log('Why is this logging???');} // TODO

				ResumableField.assignBrowse(document.getElementById('browseButton'));
				
				ResumableField.on('fileAdded', (file, event) => {
					ResumableField.upload();
				});

				ResumableField.on('uploadStart', () => {
					this.displayVideoDetails = 'grid';
					this.displayInitialUpload = 'none';
				});

				ResumableField.on('fileProgress', (file, message) => {
					this.uploadPercentage = file.progress() * 100;
				});

				ResumableField.on('error', (message, file) => {
					this.displayVideoDetails = 'none';
					this.displayInitialUpload = 'none';
					this.hasError = 'block';
					this.error_message = message;
				});

				ResumableField.on('fileSuccess', (file, message) => {
					axios.put('/api/videos', {'upload_id' : this.upload_id}, {headers: {'X-CSRFToken' : csrftoken }})
					.then(response => {
						this.watch_id = response.data.watch_id;
						this.thumbnails = response.data.thumbnails;
						this.selectedThumbnail = response.data.thumbnails.primaryImage.thumbnail;
						this.selectedThumbnailPk = response.data.thumbnails.primaryImage.pk;
						this.channel = response.data.channel;
						this.status = this.statuses[response.data.status];
					})
					.catch(error => {
						this.hasError = 'block';
						this.displayVideoDetails = 'none';
						this.displayInitialUpload = 'none';
						this.error_message = error.response.data.uploaded_file[0];
					});
				});
				this.r = ResumableField;
			},
			methods: {
				generateUniqueIdentifier: function (file, event) {
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					const request = axios.put('/api/videos', {}, {headers: {'X-CSRFToken' : csrftoken }});
					console.log(event);
					return request
						.then(response => {
							console.log(response);
							this.upload_id = response.data.upload_id; 
							return response.data.upload_id;
						})
						.catch(error => {
							throw error;
						});
				},
				selectThumbnail(event) {
					this.selectedThumbnail = event.target.src
					this.selectedThumbnailPk = event.target.dataset.pk;
					[].forEach.call(event.target.parentElement.parentElement.children,
						function(el) {
							if (el === event.target.parentElement){
								el.classList.add('selected');
							} else {
								el.classList.remove('selected');
							}
						}
					);

				},
				publishVideo(event) {
					event.preventDefault();
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					data = new FormData(document.getElementById('video_form'));
					if (this.hasCustomThumbnail) {
						data.append('customThumbnail', document.getElementById('id_customthumbnail').files[0]);
					}
					axios.patch('api/videos',
						data,
						{
							headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}
						}
						).then(response => {
							window.location.href = "{% url 'web_dashboard_videos' %}"
						}
						).catch(error => {
							this.category_error = error.response.data.category;
						})
				},
				openFileDialog() {
					this.$refs.custom_thumbnail.click();
				},
				customThumbnailSelected() {
					var reader = new FileReader();
					reader.onload = (e) => {
						this.customThumbnail = e.target.result;
						this.selectedThumbnail = this.customThumbnail;
						this.selectedThumbnailPk = -1;
						this.hasCustomThumbnail = true;
					}
					reader.readAsDataURL(this.$refs.custom_thumbnail.files[0]);
				},
				pollStatus() {
					axios.get('/api/videos/status/' + this.watch_id).then(response => {
						console.log(response.data.status)
						this.status = this.statuses[response.data.status];
					});
				}
			},
		})
	</script>
{% endblock %}