{% extends 'web/base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}

{% block title %}
<!-- Primary Meta Tags -->
<title>{{ video.title }}</title>
<meta name="title" content="{{ video.title }}">
<meta name="description" content="{{ video.description|truncatechars_html:157 }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.tracle.tv/watch?v={{ video.watch_id }}">
<meta property="og:title" content="{{ video.title }}">
<meta property="og:description" content="{{ video.description|truncatechars_html:157 }}">
<meta property="og:image" content="{{ video.get_poster }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.tracle.tv/watch?v={{ video.watch_id }}">
<meta property="twitter:title" content="{{ video.title }}">
<meta property="twitter:description" content="{{ video.description|truncatechars_html:157 }}">
<meta property="twitter:image" content="{{ video.get_poster }}">

{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/watch.scss' %}">
{% endblock css %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}
		{% if not video %}
			<div class="primary">
				<div class="video-error">
					<p class="video-error__message"><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
				</div>
			</div>
		{% else %}
		<div class="header">
			{% if request.user.is_authenticated and request.channel.channel_id == video.channel.channel_id %}
				<div class="owner-ribbon">
					<a href="{% url 'web_dashboard_edit_video' video.watch_id %}">Edit Info</a>
					<a href="{% url 'web_dashboard_videos' %}">Video Manager</a>
				</div>
			{% endif %}
			<h2>{{ video.title }}
			{% if user.is_staff %}<a href="/admin/backend/video/{{ video.id }}/change/" style="font-size: 1rem; color: #333"><i class="far fa-edit"></i></a>{% endif %}
			</h2>
			<button class="btn btn-gray" onclick="location.href='{% url "web_channel" video.channel.channel_id %}'">{{ video.channel.name }}</button>
			<button  id="btn-subscribe" class="btn btn-gray" {% if not request.user.is_authenticated or request.channel.channel_id == video.channel.channel_id %} disabled {% else %} onclick="toggleSubscribe()" {% endif %}><i class="fas fa-plus-circle"></i> <span id="btn-subscribe-text">{% if request.user.is_authenticated and is_subscribed %} Unsubscribe {% else %} Subscribe {% endif %}</span></button>
		</div>
		<div class="primary">
			{% if error %}
				<div class="video-error">
					<p class="video-error__message"><i class="fas fa-exclamation-circle"></i> {{ error }}</p>
				</div>
			{% else %}
			<div class="video__container">
				{% include 'web/includes/player.html' %}
			</div>
			<div class="panel">
				<div class="panel__actions">
					<div class="panel__actions__left">
						<div class="panel__actions__like">
							<button id='btn-like' class="btn btn-gray btn-like {% if is_liked %} active {% endif %}" {% if request.user.is_authenticated %} onclick="like()" {% else %} disabled {% endif %}><i class="fas fa-thumbs-up"></i></button><button id="btn-dislike" class="btn btn-gray btn-dislike {% if is_disliked %} active {% endif %}" {% if request.user.is_authenticated %} onclick="dislike()" {% else %} disabled {% endif %}><i class="fas fa-thumbs-down"></i></button>
						</div>
						<button class="btn btn-gray btn-addto"><i class="fas fa-plus"></i></button>
						<button class="btn btn-gray" onclick="showShare(event)">Share</button>
						<!-- SHARE MODAL -->
						<div id="share-modal" style="display: none" class="modal-mask">
							<div class="modal-wrapper">
								<div class="modal-container">
									<div>Share video</div>
									<div class="share-embed">
										<code id="share-code">
											&lt;iframe src="https://www.tracle.tv/embed/{{ video.watch_id }}" frameborder="0" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"&gt;&lt;/iframe&gt;
										</code>
									</div>
									<div class="share-link">
										<input type="text" id="share-url" value="https://tracle.tv/watch?v={{ video.watch_id }}">
										<button type="button" class="btn btn-gray" onclick="copyShareUrl()">Copy</button>
									</div>
									<button class="btn btn-gray" onclick="hideShare(event)">Close</button>
								</div>
							</div>
						</div>
						<!-- END SHARE MODAL -->
						<button class="btn btn-gray" onclick="showReport(event)"><i class="fas fa-flag"></i></button>
						<!-- REPORT MODAL -->
						<div id="report-modal" style="display: none" class="modal-mask">
							<div class="modal-wrapper">
								<div class="modal-container">
									<form id="video-report-form" class="report-form">
									  <div>Report video</div>
									  <fieldset>
										<div id="reason-error" style="color: red"></div>
									  	<div>
										    <input type="radio" id="spam" value="SP" name="reason">
										    <label for="spam">Unwanted commercial content or spam</label>  
									    </div>
									    <div>
										    <input type="radio" id="porn" value="PO" name="reason">
										    <label for="porn">Pornography or sexually explicit material</label>
									    </div>
									    <div>
										    <input type="radio" id="ca" value="CA" name="reason">
										    <label for="ca">Child abuse</label>
										</div>
										<div>
										    <input type="radio" id="hov" value="HV" name="reason">
										    <label for="hov">Hate speech or graphic violence</label>
										</div>
										<div>
										    <input type="radio" id="hob" value="HB" name="reason">
										    <label for="hob">Harassment or bullying</label>
									    </div>
									  </fieldset>
									  <label for="body">Additional information</label></br>
									  <textarea id="body" name="body"></textarea>
									  <input type="hidden" name="watch_id" value="{{ video.watch_id }}">
									  <div class="report-form__actions">
										  <button class="btn btn-gray" onclick="hideReport(event)">Cancel</button>
										  <button class="btn btn-blue" onclick="sendReport(event)">Send</button>
									  </div>
									</form>
								</div>
							</div>
						</div>
						<!-- END REPORT MODAL -->
					</div>
					<div class="panel__actions__right">
						<div class="panel__actions__views"><span id="view_count">{{ video.views }}</span> views</div>
						<button class="btn btn-gray"><i class="fa fa-chart-bar"></i></button>
					</div>
				</div>
				<div id="panel-details" class="panel__details panel__details--collapsed">
					<div class="panel__details__left">
						<div class="panel__details__uploader">Uploaded by <a href="{% url 'web_channel' video.channel.channel_id %}">{{ video.channel.name }}</a> {{ video.created|naturaltime }}</div>
						<div class="panel__details__description">{{ video.description|linebreaks|urlize }}</div>
						<div class="panel__details__minor">
							<strong>Category:</strong><br>
							{{ video.category }}<br>
							<strong>License:</strong><br>
							PLAcEHOLDER
						</div>
					</div>
					<div class="panel__details__right">
						<div class="panel__details__likebar">
							<div id="likebar" class="panel__details__likebar__likes" style="width: {{ likebar_value }}%"></div>
						</div>
						<div class="panel__details__likes"><span id="like-counter">{{ video.likes.count }}</span> likes, <span id="dislike-counter">{{ video.dislikes.count }}</span> dislikes</div>
					</div>
				</div>
				<div class="panel__expander" onclick="toggleExpander()">
					<div id="panel_expander_text" class="panel__expander__button">Show more</div>
				</div>
			</div>
			<div id="app" data-authenticated="{{ request.user.is_authenticated }}">
			</div>
			{% endif %}
		</div>
		{% endif %}
		<div class="secondary">
			{% include 'web/includes/secondary-feed.html' %}
		</div>
		{% include 'web/includes/footer.html' %}
	</div>
	{% csrf_token %}
	<input id="channel_id" type="hidden" value="{{ video.channel.channel_id }}">
	<input id="watch_id" type="hidden" name="watch_id" value="{{ video.watch_id }}">
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{% static 'web/js/vendor/humanized_time_span.js' %}"></script>
	<script src="{% static 'web/js/vendor/linkify.min.js' %}"></script>
	<script src="{% static 'web/js/vendor/linkify-html.min.js' %}"></script>
	<script>

		Vue.component('modal', {
			delimiters: ['[[', ']]'],
			props: ['comment_id'],
			data () {
				return {
					reason: null,
					body: '',
					error_message: null,
				}
			},
			methods: {
				send(event) {
					event.preventDefault();
					console.log(this.comment_id);
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData();
					data.append('comment_id', this.comment_id);
					data.append('reason', this.reason);
					data.append('body', this.body);
					axios.post('/api/comments/tickets', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.$emit('close');
					})
					.catch(error => {
						console.log(error.response.data.message);
						this.error_message = error.response.data.message;
					});
				}
			},
			template: `
				<div class="modal-mask">
					<div class="modal-wrapper">
						<div class="modal-container">
							<form class="report-form">
							  <div>Report comment</div>
							  <fieldset>
								<div style="color: red">[[ error_message ]]</div>
							  	<div>
								    <input type="radio" id="spam" value="SP" v-model="reason">
								    <label for="spam">Unwanted commercial content or spam</label>  
							    </div>
							    <div>
								    <input type="radio" id="porn" value="PO" v-model="reason">
								    <label for="porn">Pornography or sexually explicit material</label>
							    </div>
							    <div>
								    <input type="radio" id="ca" value="CA" v-model="reason">
								    <label for="ca">Child abuse</label>
								</div>
								<div>
								    <input type="radio" id="hov" value="HV" v-model="reason">
								    <label for="hov">Hate speech or graphic violence</label>
								</div>
								<div>
								    <input type="radio" id="hob" value="HB" v-model="reason">
								    <label for="hob">Harassment or bullying</label>
							    </div>
							  </fieldset>
							  <label for="body">Additional information</label></br>
							  <textarea id="body" name="body" v-model="body"></textarea>
							  <div class="report-form__actions">
								  <button class="btn btn-gray" @click="$emit('close')">Cancel</button>
								  <button class="btn btn-blue" @click="send($event)">Send</button>
							  </div>
							</form>
						</div>
					</div>
				</div>
				`
		})

		Vue.filter('humanTime', function (value) {
			return humanized_time_span(value);
		})

		Vue.filter('userTags', function (value) {
			value = linkifyHtml(value);
			r = /\@\((.+)\)\[(.*)\]/
			return value.replace(r, '<a style="color: #1c62b9; text-decoration: none;" href="/channel/$2">@$1</a>');
		})

		Vue.component('comment-entry', {
			delimiters: ['[[', ']]'],
			props: ['comment'],
			data () {
				return {
					showReply: false,
					commentText: '',
					authenticated: "{{ request.user.is_authenticated }}",
					el: null,
					showModal: false,
				}
			},
			computed: {
				formId: function () {
					return 'reply-form-' + this.comment.id; 
				},
				commentId: function () {
					return 'comment-' + this.comment.id;
				},
				textId: function () {
					return 'id_text-' + this.comment.id;
				},
				remainingChars: function () {
					return 500 - this.commentText.length;
				},
				is_authenticated: function () {
					return this.authenticated === "True";
				},
				bodyId: function () {
					return 'comment-body-' + this.comment.id;
				},
				inputId: function () {
					return 'input-id-' + this.comment.id;
				},
				is_overflowing: function () {
					return this.el ? this.el.clientHeight < this.el.scrollHeight : false;
				},
				authorLink: function () {
					return '/channel/' + this.comment.author_id;
				}
			},
			mounted() {
				this.el = document.getElementById('comment-body-' + this.comment.id);
			},
			methods: {
				updateIsOverflowing() {
					if (this.$refs.replies) {
						this.$refs.replies.forEach(r => {
							r.el = null;
							r.el = document.getElementById('comment-body-' + r.comment.id);
						});
					}
				},
				showReplyForm() {
					if (!this.is_authenticated) {
						location.href='/signin';
						return;
					}
					this.showReply = true;
					document.getElementById(this.textId).focus();
					this.commentText = '@(' + this.comment.author_name + ')[' + this.comment.author_id + ']';
				},
				hideReplyForm() {
					this.showReply = false;
				},
				commentLike(event) {
					if (!this.is_authenticated) {
						location.href='/signin';
						return;
					}
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData();
					data.append('comment_id', event.target.dataset.id);
					axios.post('/api/comments/like', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.comment.likes = response.data.likes;
						this.comment.dislikes = response.data.dislikes;
					})
					.catch(error => { console.log(error.message); });
				},
				commentDislike(event) {
					if (!this.is_authenticated) {
						location.href='/signin';
						return;
					}
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData();
					data.append('comment_id', event.target.dataset.id);
					axios.post('/api/comments/dislike', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.comment.likes = response.data.likes;
						this.comment.dislikes = response.data.dislikes;
					})
					.catch(error => { console.log(error.message); });
				},
				postReply(event) {
					event.preventDefault();
					if (!this.is_authenticated) {
						location.href='/signin';
						return;
					}
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData(document.getElementById(this.formId))
					data.append('parent_id', this.comment.id);
					axios.post('/api/comments/{{ video.watch_id }}', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.hideReplyForm();
						if (this.comment.parent) {
							this.$emit('addtoparent', response.data);
						}
						else {
							this.comment.replies.unshift(response.data);
						}
					})
					.catch(error => {
						console.log(error.message);
					});
				},
				onAddToParent(new_comment) {
					this.comment.replies.push(new_comment);
				}
			},
			template: `
				<div class=comment-container>
					<div v-bind:id="commentId" class="comment">
						<div class="comment__content">
							<input style="display: none;" type="checkbox" :id="comment.id">
							<div :id="bodyId" class="comment__content__body">
								<div v-for="line in comment.text.split('\\n')"><div v-html="$options.filters.userTags(line)"></div></div>
							</div>
							<label :style="[is_overflowing ? {display: 'inline-block'} : {display: 'none'}]" :for="comment.id" class="comment__content__more">
								Show 
							</label>
							<div class="comment__content__meta">
								<span><a :href="authorLink">[[ comment.author_name ]]</a></span>
								<span>[[ comment.created|humanTime ]]</span>
								<span class="comment__content__meta__likes">[[ comment.likes ]] <i class="fas fa-thumbs-up"></i></span>
								<span class="comment__content__meta__dislikes">[[ comment.dislikes ]] <i class="fas fa-thumbs-down"></i></span>
							</div>
						</div>
						<div class="comment__actions">
							<div class="comment__actions__like">
								<button v-bind:data-id="comment.id" class="btn btn-gray btn-like" @click="commentLike($event)"><i style="pointer-events:none;" class="fas fa-thumbs-up"></i></button><button v-bind:data-id="comment.id" class="btn btn-gray btn-dislike" @click="commentDislike($event)"><i style="pointer-events:none;" class="fas fa-thumbs-down"></i></button>
							</div>
							<button class="btn btn-gray btn-reply" @click="showReplyForm">Reply</button>
							<button class="btn btn-gray btn-reply" @click="showModal = true;"><i class="fas fa-flag"></i></button>
						</div>
					</div>
					<form v-bind:id="formId" class="reply-form" :style="[showReply ? {display: 'block'} : {display: 'none'}]" >
						<textarea v-bind:id="textId" name="text" class="reply-form__textbox" v-model="commentText"></textarea>
						<div class="reply-form__actions">
							<div :style="[remainingChars < 0 ? {color: 'red'} : {color: '#333'}]">[[ remainingChars ]] characters remaining</div>
							<div><span @click="hideReplyForm">Cancel</span> or <button class="btn btn-gray" @click="postReply($event)">Post</button></div>
						</div>
					</form>
					<modal v-if="showModal" @close="showModal = false" v-bind:comment_id="this.comment.id"></modal>
					<div class="reply-container" v-if="comment.replies.length">
						<input type="checkbox" :id=inputId @click="updateIsOverflowing()">
						<label :for="inputId">[[ comment.replies.length ]] replies</label>
						<div class="reply-container__inner">
							<comment-entry ref="replies" v-on:addtoparent="onAddToParent" v-for="reply in comment.replies" v-bind:key="reply.id" v-bind:comment="reply"></comment-entry>
						</div>
					</div>
				</div>
			`
		});

		var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data: {
				comments: [],
				commentText: '',
				authenticated: "{{ request.user.is_authenticated }}",
			},
			computed: {
				remainingChars: function () {
					return 500 - this.commentText.length;
				},
				is_authenticated: function () {
					return this.authenticated === "True";
				},
				totalComments: function () {
					num = this.comments.length;
					this.comments.forEach(comment => {
						num += comment.replies.length;
					})
					return num;
				},
			},
			mounted () {
				axios.get('/api/comments/{{ video.watch_id }}'
					).then(response => {
						this.comments = response.data;
					}
					).catch(error => {
						console.log(error.message);
					}
				);
			},
			updated() {
				var el = document.getElementById(location.hash.slice(1));
				if (el) {
					if (el.getClientRects().length < 1) {
						el.parentNode.parentNode.parentNode.getElementsByTagName('input')[0].checked = true;
					}
					var rect = el.getBoundingClientRect();
					window.scrollTo(rect.left, rect.top);
				}
			},
			methods: {
				postComment(event) {
					event.preventDefault();
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData(document.getElementById('comment-form'))
					axios.post('/api/comments/{{ video.watch_id }}', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.commentText = ''
						this.comments.unshift(response.data)
					})
					.catch(error => {
						console.log(error.message);
					});
				},
			},
			template: `
				<div id="comments" class="comments">
					<h4>All Comments ([[ totalComments ]])</h4>
					<form v-if="is_authenticated" id="comment-form" class="comment-form">
						<textarea id="id_text" name="text" class="comment-form__textbox" v-model="commentText"></textarea>
						<div class="comment-form__actions">
							<div :style="[remainingChars < 0 ? {color: 'red'} : {color: '#333'}]">[[ remainingChars ]] characters remaining</div>
							<div><button class="btn btn-gray" @click="postComment($event)">Post</button></div>
						</div>
					</form>
					<div v-else class=comment-form--signin>
						<a href="/signin">Sign In</a> or <a href="/signup">Sign Up</a> now to post a comment!
					</div>
					<div v-if="comments.length">
						<comment-entry v-for="comment in comments" v-bind:key="comment.id" v-bind:comment="comment"></comment-entry>
					</div>
				</div>
			`
		});	
	</script>
{% endblock %}