{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  {% block title %}
    <title>?</title>
  {% endblock %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'web/css/normalize.css' %}">
  <script src="https://kit.fontawesome.com/f471545931.js" crossorigin="anonymous"></script>
  {% block css %}
  {% endblock %}

</head>

<body>
  <div id="nav-menu" class="nav__menu">
    <div class="item nav-menu__head">
      <button id="nav-close" class="btn btn-gray" onclick="navMenuClose()"><i class="fas fa-times"></i></button>
      <span>Account</span>
    </div>
    <a class="item" href="#">Browse</a>
    <a class="item" href="#">Upload</a>
    {% if request.user.is_authenticated %}
      <a class="item" href="{% url 'web_signout' %}">Sign Out</a>
    {% else %}
      <a class="item" href="{% url 'web_signup' %}">Create Account</a>
      <a class="item" href="{% url 'web_signin' %}">Sign In</a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}

  <script src="{% static 'web/js/vendor/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'web/js/main.js' %}"></script>
  
  {% block script %}
  {% endblock %}
</body>

</html>
