{% load static %}
{% load compress %}
{% load notifications %}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  {% block title %}
    <title>?</title>
  {% endblock %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/f471545931.js" crossorigin="anonymous"></script>
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/normalize.css' %}">
    {% block css %}
    {% endblock %}
  {% endcompress %}
</head>

<body>
  <div id="nav-menu" class="nav__menu">
    <button id="nav-close" class="btn btn-gray" onclick="navMenuClose()"><i class="fas fa-times"></i></button>
    {% if request.user.is_authenticated %}
      <div class="nav__menu__head">
        <img src="{% if request.channel.avatar %}{{ request.channel.avatar.url }}{% else %}{% static 'web/img/avatar.png' %}{% endif %}">
        <div class="nav__menu__head__details">
          <div>{{ request.channel.name }}</div>
          <div>{{ request.user.email }}</div>
          <a href="{% url 'web_dashboard_settings' %}">Manage your Tracle Account</a>
        </div>
      </div>
      <a class="item" href="{% url 'web_channels' %}">Browse</a>
      <a class="item" href="{% url 'web_upload_video' %}">Upload</a>
      <a class="item" href="{% url 'web_signout' %}">Sign Out</a>
    {% else %}
      <a class="item" href="{% url 'web_signup' %}">Create Account</a>
      <a class="item" href="{% url 'web_signin' %}">Sign In</a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}

  {% if request.user.is_authenticated %}
    <script src="{% static 'web/js/notify.js' %}"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
  {% endif %}

  {% compress js %}
    <script src="{% static 'web/js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
  {% endcompress %}
  {% block script %}
  {% endblock %}
</body>

</html>
