{% load static %}
{% load compress %}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  {% block title %}
    <title>?</title>
  {% endblock %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/normalize.css' %}">
  {% endcompress %}
  <script src="https://kit.fontawesome.com/f471545931.js" crossorigin="anonymous"></script>
  {% block css %}
  {% endblock %}

</head>

<body>
  <div id="nav-menu" class="nav__menu">
    <button id="nav-close" class="btn btn-gray" onclick="navMenuClose()"><i class="fas fa-times"></i></button>
    {% if request.user.is_authenticated %}
      <div class="nav__menu__head">
        <img src="{% if request.channel.avatar %}{{ request.channel.avatar.url }}{% else %}{% static 'web/img/avatar.png' %}{% endif %}">
        <div class="nav__menu__head__details">
          <div>{{ request.channel.name }}</div>
          <div>{{ request.user.email }}</div>
          <a href="{% url 'web_dashboard_settings' %}">Manage your Auxzil Account</a>
        </div>
      </div>
      <a class="item" href="#">Browse</a>
      <a class="item" href="#">Upload</a>
      <a class="item" href="{% url 'web_signout' %}">Sign Out</a>
    {% else %}
      <a class="item" href="{% url 'web_signup' %}">Create Account</a>
      <a class="item" href="{% url 'web_signin' %}">Sign In</a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}

  <script src="{% static 'web/js/vendor/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'web/js/main.js' %}"></script>
  
  {% block script %}
  {% endblock %}
</body>

</html>
