{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Channel Editor - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/channel_editor.scss' %}">
{% endblock css %}

{% block body %}
<div class="container">
    {% include 'web/includes/nav.html' %}
</div>
<div class="channel__settings">
    <div class="container channel__setttings__inner">
        <div class="channel__settings__inner__header">
            <h2>Channel Settings</h2>
            <div>
                <button id="btnCancel" class="btn btn-gray">Cancel</button>
                <button id="btnSubmit" class="btn btn-gray">Done Editing</button>
            </div>
        </div>
        <form id="settings_form" class="channel__settings__inner__form" method="POST" enctype="multipart/form-data" action="/channel_editor">
            {% csrf_token %}
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <div>
                <h3>Avatar</h3>
                <p>Preview your avatar below. To upload a new avatar, choose a new file.</p>
                <button id="btnAvatar" class="btn btn-gray" disabled>Select</button> <span>Use <a href="{% url 'web_dashboard_settings' %}">Account settings</a> for now</span>
                {{ form.avatar }}
                <h3>Background</h3>
                <p>Choose image. (<a href="{% static 'web/img/channel_template.png' %}" target="_blank">Official template</a>)</p>
                <button id="btnDesktopBg" class="btn btn-gray">Select</button> {{ form.desktop_image_repeat }}
                {% for error in form.desktop_image.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {{ form.desktop_image }}
                <p>Background color</p>
                {{ form.color }}
                {% for error in form.color.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <div>
                <h3>Channel Banner</h3>
                <p>Banner height</p>
                <p>Push down where your channel starts to expose more of your background image. Note there are 22 additional pixels between the top of the banner and the top of the page.</p>
                {{ form.header_size }} 0 - 150px
                {% for error in form.header_size.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                <p>Enter image map code to make the top area of your background image clickable. Activate your code by entering a height greater than 0 above. Your image map will be 970 px wide by the height you specified.</p> 
                {{ form.imagemap }}
            </div>
        </form>
    </div>
</div>

<iframe src="/channel/{{ request.channel.channel_id }}" style="width: 100%; height: 100vh; border: none;"></iframe>

<div class="container">
    {% include 'web/includes/footer.html' %}
</div>
{% endblock body %}


{% block script %}
<script>
    window.onload = function () {
        var has_desktop_background = {% if request.channel.background and request.channel.background.desktop_image %} true {% else %} false {% endif %};
        var has_avatar_image = false;
        var preview_bg = document.getElementsByTagName('iframe')[0].contentWindow.document.getElementsByClassName('channel__container')[0];
        var preview_header = document.getElementsByTagName('iframe')[0].contentWindow.document.getElementById('user_banner');
        var preview_inner = document.getElementsByTagName('iframe')[0].contentWindow.document.getElementsByClassName('channel__container__inner')[0];

        var btnAvatar = document.getElementById('btnAvatar');
        var avatar_image_el = document.getElementById('id_avatar');
        btnAvatar.onclick = function (e) {
            e.preventDefault();
        }
        if (has_avatar_image) {
            btnAvatar.innerHTML = "Remove";
        }

        var desktop_image_el = document.getElementById('id_desktop_image');
        var btnDesktopBg = document.getElementById('btnDesktopBg');
        btnDesktopBg.onclick = function (e) {
            e.preventDefault();
            if (has_desktop_background) {
                var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                var data = new FormData();
                data.append('delete', 'desktop_image');
                axios.post('/channel_editor', data, {headers: {'X-CSRFToken': csrftoken}})
                .then(response => {
                    desktop_image_el.value = '';
                    preview_bg.style.backgroundImage = 'unset';
                    has_desktop_background = false;
                    btnDesktopBg.innerHTML = "Select"
                    preview_inner.style.maxWidth = '1280px';
                });
            } else {
                desktop_image_el.click();
            }
        }
        if (has_desktop_background) {
            btnDesktopBg.innerHTML = 'Remove';
        }

        desktop_image_el.onchange = function () {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview_bg.style.backgroundImage = 'url(' + e.target.result + ')';
                btnDesktopBg.innerHTML = 'Remove';
                has_desktop_background = true;
                preview_inner.style.maxWidth = '970px';
            }
            reader.readAsDataURL(this.files[0]);
        }

        var desktop_image_repeat_el = document.getElementById('id_desktop_image_repeat');
        desktop_image_repeat_el.onchange = function () {
            preview_bg.style.backgroundRepeat = this.selectedOptions[0].innerHTML;
        }

        var color_el = document.getElementById('id_color');
        color_el.oninput = function () {
            preview_bg.style.backgroundColor = this.value;
        }

        var header_el = document.getElementById('id_header_size');
        header_el.oninput = function () {
            preview_header.style.height = this.value + 'px';
        }
    }

    var btnCancel = document.getElementById('btnCancel');
    btnCancel.onclick = function () {
        document.location = '/channel/{{ request.channel.channel_id }}';
    }

    var btnSubmit = document.getElementById('btnSubmit');
    btnSubmit.onclick = function () {
        form = document.getElementById('settings_form');
        form.submit();
    }

</script>
{% endblock script %}
    