{% extends 'web/base.html' %}
{% load static %}
{% load compress %}
{% load humanize %}

{% block title %}
	<title>{{ channel.name }} - Tracle</title>
{% endblock %}

{% block body %}
<div class=container>
	{% include 'web/includes/nav.html' %}

	{% if channel and request.user.is_authenticated and request.channel.channel_id == channel.channel_id %}
	<div class="owner-ribbon">
		<a class="btn btn-dark" href="{% url 'web_channel_editor' %}">Channel Settings</a>
		<a class="btn btn-dark" href="{% url 'web_dashboard_videos' %}">Video Manager</a>
	</div>
	{% endif %}
</div>

{% if channel.background %}
<style>
	@media only screen and (min-width: 1280px) {
		.channel__container {
			background-image: {% if channel.background.desktop_image %} url("{{ channel.background.desktop_image.url }}") {% else %} unset {% endif %};
			background-repeat: {{ channel.background.get_desktop_image_repeat_display }};
			background-color: {% if channel.background.color %} {{ channel.background.color }} {% else %} #CCCCCC {% endif %};
		}

		.channel__bannerbox {
			height: {{ channel.background.header_size }}px;
		}

		.channel__container__inner {
			{% comment %} {% if channel.background.desktop_image and channel.background.header_size > 0%}
			padding-top: 0;
			{% else %}
			padding-top: 22px;
			{% endif %} {% endcomment %}

			{% if channel.background.desktop_image %}
				max-width: 970px;
			{% endif %}
		}

		.channel__bannerbox > img {
			width: 100%;
			height: 100%;
		}

		.owner-ribbon {
			{% if channel.background.desktop_image %}
				max-width: 970px;
			{% endif %}
		}
	}
</style>
{% endif %}
<div class="channel__container">
	<map name="imgmap">
		{{ channel.background.get_map_code|safe }}
	</map>
	<div id="user_banner" class="channel__bannerbox">
		<img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20height%3D%221px%22%20viewBox%3D%220%200%201px%201px%22%20width%3D%221px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" usemap="#imgmap">
	</div>
	<div class="container channel__container__inner">
		{% if channel %}
		<div class="channel__header">
			<img class="channel__header__thumb" src="{% if channel.avatar %}{{ channel.avatar.url }}{% else %}{% static 'web/img/avatar.png' %}{% endif %}">
			<h1 class="channel__header__title">{{ channel.name }}
				{% if channel.verified %}
				<i class="fas fa-check channel__header__title__checkmark"></i>
				{% endif %}
			</h1>
			{% if user.is_admin %}<a href="/admin/backend/channel/{{ channel.id }}/change/" style="font-size: 1rem; color: #fff"><i class="far fa-edit"></i></a>{% endif %}
			<button id="btn-subscribe" class="channel__header__btn-subscribe" {% if not request.user.is_authenticated or request.channel.channel_id == channel.channel_id %} disabled {% else %} onclick="toggleSubscribe()" {% endif %}><i class="fas fa-plus-circle"></i><span id="btn-subscribe-text">{% if request.user.is_authenticated and is_subscribed %} Unsubscribe {% else %} Subscribe {% endif %}</button>
			<div class="channel__header__subscribers">
				<span id="sub-count">{{ channel.subscriptions.count }}</span>subscribers
			</div>
			<div class="channel__header__views">
				<span>{{ total_views }}</span> video views
			</div>
		</div>
		<div class="channel__nav">
			<div class="left">
				<a class="{% if selected_tab == 'featured' %}nav-link-selected{% else %}nav-link{% endif %}" href="{% url 'web_channel_featured' channel.channel_id %}">Featured</a><a class="{% if selected_tab == 'feed' %}nav-link-selected{% else %}nav-link{% endif %}" href="{% url 'web_channel_feed' channel.channel_id %}">Feed</a><a class="{% if selected_tab == 'videos' %}nav-link-selected{% else %}nav-link{% endif %}" href="{% url 'web_channel_videos' channel.channel_id %}">Videos</a>
			</div>
			<form class="right">
				<input /><button type="submit"><i class="fas fa-search"></i></button>
			</form>
		</div>
        {% block channel_body %}
        {% endblock %}
        {% else %}
            <div>Channel not found.</div>
		{% endif %}
	</div>
</div>
<div class="container">
	{% include 'web/includes/footer.html' %}
</div>
{% csrf_token %}
<input id="channel_id" type="hidden" value="{{ channel.channel_id }}">

<script type="text/javascript">
    function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }
	
    if(inIframe()) {
        el = document.getElementsByClassName("nav")[0];
		el.style.display = 'none';
        el = document.getElementsByClassName("owner-ribbon")[0];
		el.style.display = 'none';
        el = document.getElementsByClassName("footer")[0];
		el.style.display = 'none';
    }
</script>

{% endblock %}

{% block script %}
{% endblock %}