{% extends 'web/dashboard_base.html' %}
{% load static %}
{% load compress %}

{% block title %}
	<title>{{ video.title }} - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/dashboard_edit_video.scss' %}">
{% endblock %}


{% block dashboard_body %}
	<h1>{{ video.image_set.image_data }}</h1>
	<div id="app" v-cloak class="dashboard__body">
		<div class="dashboard__head">
			<h2>[[ video.title ]]</h2>
			<div class="dashboard__head__right">
				<div class="message">
					<span class="success">[[ success_message ]]</span>
					<span class="error">[[ error_message ]]</span>
				</div>
				<button class="btn btn-red" @click="delete_video()">Delete</button>
				<button class="btn btn-gray" onclick="location.href='/dashboard/videos';">Cancel</button>
				<button class="btn btn-blue" @click="save_form()">[[ confirm_button_text ]]</button>
			</div>
		</div>
		<div class="dashboard__left">
			<form id="video-form" class="video-form">
				<h4>Video Information</h4>
				{% csrf_token %}
				<input id="watch_id" type="hidden" name="watch_id" :value="video.watch_id">
				<input id="selectedThumbnail" type="hidden" name="selectedThumbnail" :value="video.selectedThumbnailPk">
				<input type="hidden" name="channel" :value="video.channel">
				<p>
					<label for="id_title">Title</label>
					<input id="id_title" type="text" name="title" v-model="video.title" @input="set_unsaved">
				</p>
				<p>
					<label for="id_description">Description</label>
					<textarea id="id_description" name="description" cols="40" rows="10" v-model="video.description" @input="set_unsaved"></textarea>
				</p>
				<p>
					<span>Category: </span>
					<select id="id_category" name="category" v-model="video.category" required @change="set_unsaved">
					  <option disabled value="">Select category</option>
					  <option value="1">Music</option>
					  <option value="2">Entertainment</option>
					  <option value="3">Sports</option>
					  <option value="4">Film &amp; Animation</option>
					  <option value="5">News &amp; Politics</option>
					  <option value="6">Comedy</option>
					  <option value="7">People &amp; Blogs</option>
					  <option value="8">Science &amp; Technology</option>
					  <option value="9">Gaming</option>
					  <option value="10">Howto &amp; Style</option>
					  <option value="11">Education</option>
					  <option value="12">Pets &amp; Animals</option>
					  <option value="13">Auto &amp; Vehicles</option>
					  <option value="14">Travel &amp; Events</option>
					  <option value="15">Nonprofits &amp; Activism</option>
					</select>
				</p>
			</form>
			<div class="thumbnail-selector">
				<img :src="this.video.thumbnails.images[0].thumbnail" @click="select_thumbnail($event)" :data-pk="this.video.thumbnails.images[0].pk">
				<img :src="this.video.thumbnails.images[1].thumbnail" @click="select_thumbnail($event)" :data-pk="this.video.thumbnails.images[1].pk">
				<img :src="this.video.thumbnails.images[2].thumbnail" @click="select_thumbnail($event)" :data-pk="this.video.thumbnails.images[2].pk">
			</div>
		</div>
		<div class="dashboard__right">
			<div class="thumbnail">
				<img :src="this.video.selectedThumbnailSrc" :data-pk="this.video.selectedThumbnailPk">
			</div>
		</div>
		<modal v-if="showModal" @close="showModal = false" @confirm-delete="delete_video_confirmed">
	</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
      Vue.component("modal", {
        template: `
        	<transition name="modal">
		        <div class="modal-mask">
		          <div class="modal-wrapper">
		            <div class="modal-container">
		              <div class="modal-body">
		              	Are you sure you want to delete this video?
		              </div>

		              <div class="modal-footer">
		                  <button class="btn btn-gray" @click="$emit('close')">
		                    Cancel
		                  </button>
		                  <button class="btn btn-red" @click="$emit('confirm-delete')">
		                  	DELETE
		                  </button>
		              </div>
		            </div>
		          </div>
		        </div>
		      </transition>
        `
      });

	var app = new Vue({
		delimiters: ['[[', ']]'],
		el: '#app',
		data: {
			video: {
				category: 0,
				watch_id: '',
				title: '',
				description: '',
				thumbnails: {images:[{},{},{}], primaryImage:{}},
				selectedThumbnailSrc: '',
				selectedThumbnailPk: 0,
				channel: 0
			},
			success_message: '',
			error_message: '',
			unsaved_changes: false,
			showModal: false,
		},
		computed: {
			confirm_button_text: function () {
				if (this.unsaved_changes) {
					return 'Save changes';
				} else {
					return 'Done';
				}
			}
		},
		mounted () {
			axios.get('/api/videos/edit/{{ watch_id }}').then(response => {
				console.log(response);
				this.video.watch_id = response.data.watch_id;
				this.video.title = response.data.title;
				this.video.description = response.data.description;
				this.video.thumbnails = response.data.thumbnails;
				this.video.selectedThumbnailSrc = response.data.thumbnails.primaryImage.thumbnail;
				this.video.selectedThumbnailPk = response.data.thumbnails.primaryImage.pk;
				this.video.category = response.data.category;
				this.video.channel = response.data.channel;
			});
		},
		methods: {
			select_thumbnail(event) {
				this.video.selectedThumbnailSrc = event.target.src;
				this.video.selectedThumbnailPk = event.target.dataset['pk'];
				this.set_unsaved();
			},
			set_unsaved() {
				this.unsaved_changes = true;
			},
			save_form() {
				if (this.unsaved_changes) {
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					data = new FormData(document.getElementById('video-form'));
					axios.put('/api/videos/edit/{{ watch_id }}',
						data,
						{
							headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}
						}
						).then(response => {
						this.success_message = 'Changes have been saved.';
						this.unsaved_changes = false;
					})
					.catch(error => {
						this.error_message = 'Something went wrong.';
						console.log(error)
					});
				} else {
					location.href='/dashboard/videos';
				}
			},
			delete_video() {
				this.showModal = true;
			},
			delete_video_confirmed() {
				this.showModal = false;
				data = new FormData(document.getElementById('video-form'));
				csrftoken = data.get('csrfmiddlewaretoken');
				axiosConfig = {
					headers: {
						'X-CSRFToken': csrftoken
					}
				}
				axios.delete('/dashboard/videos/{{ video.watch_id }}', axiosConfig).then(response => {
					console.log(response);
					location.href='/dashboard/videos';
				})
				.catch(error => {
					console.log(error.response)
				});
			}
		}
	})
</script>
{% endblock %}