{% extends 'web/dashboard_base.html' %}
{% load static %}
{% load compress %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/dashboard_videos.scss' %}">
{% endblock css %}

{% block dashboard_body %}
	<div id='app'>
	</div>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="{% static 'web/js/vendor/humanized_time_span.js' %}"></script>
	<script type="text/javascript">

		Vue.filter('humanTime', function (value) {
			return humanized_time_span(value);
		})

		Vue.component('video-entry', {
		  delimiters: ['[[', ']]'],
		  props: ['video'],
		  computed: {
		  	visibility: function () {
		  		switch (this.video.visibility) {
		  			case 'PUBLIC':
		  				return 'fas fa-users';
		  			case 'PRIVATE':
		  				return 'fas fa-user-lock';
		  			case 'UNLISTED':
		  				return 'fas fa-eye-slash';
		  		}
		  	},
		  	get_url: function () {
		  		return '/watch?v=' + this.video.watch_id;
		  	},
		  	status: function () {
		  		switch (this.video.transcode_status) {
		  			case 'queued':
		  				return 'Queued for processing';
		  			case 'started':
		  				return 'Processing started';
		  			case 'failed':
		  				return 'Upload failed! :(';
		  		}
		  	},
			strike_category: function () {
				switch (this.video.videostrike_set[0].category) {
					case 'CY':
						return 'Copyright Strike'
				}
			}
		  },
		  methods: {
		  	open_details: function () {
		  		location.href='/dashboard/videos/' + this.video.watch_id;
		  	},
		  },
		  template: `
			  <div class="video">
			  	<a :href="get_url">
			  		<img v-if="video.thumbnail" class="video__thumbnail" :src="video.thumbnail">
			  		<div v-else style="width: 150px;">NO THUMBNAIL</div>
		  		</a>
			  	<div class="video__details">
			  		<div>
			  			<div class="video__details__title">[[video.title]]</div>
			  			<div class="video__details__created">[[video.created|humanTime]]</div>
			  			<button class="btn btn-gray" v-on:click="open_details">Edit</button>
			  		</div>
			  	</div>
			  	<div v-if="video.published" class="video__visibility"><i style="font-size: 1.8em;color: #333;" :class="visibility"></i></div>
			  	<div v-else>
			  		<span style="color: red;"><strong>DRAFT</strong></span>
			  	</div>
			  	<div class="video__stats" v-if="video.transcode_status == 'finished'">
			  		<div><i class="fa fa-chart-bar"></i> [[video.views]]</div>
			  		<div><i class="fas fa-thumbs-up"></i> [[video.likes.length]]</div>
			  		<div><i class="fas fa-thumbs-down"></i> [[video.dislikes.length]]</div>
			  	</div>
			  	<div v-else>
			  		<span>[[ status ]]</span>
			  	</div>
				<div v-if="video.videostrike_set.length">
					<div style="color: red" title="This video received a strike for copyright violation."><i class="fas fa-exclamation-circle"></i> [[ strike_category ]]</div>
					<div>[[ video.videostrike_set[0].created|humanTime ]]</div>
				</div>
			  </div>`
		})

		Vue.component('video-list', {
			delimiters: ['[[', ']]'],
			data () { 
				return {
					videos: []
					}
			},
			mounted () {
				axios.get('/api/videos/{{ request.channel.channel_id }}').then(response => {
					this.videos = response['data'];
					console.log(this.videos)
				});
			},
			template: `
				<div class="video-table">
					<h2 class="dashboard__primary__heading">Uploads</h2>
					<div v-if="videos.length">
						<video-entry v-for="video in videos" v-bind:key="video.pk" v-bind:video="video"></video-entry>
					</div>
					<p v-else>
						You haven't uploaded any videos yet.
					</p>
				</div>`
		})

		Vue.component('playlist-list', {
			delimiters: ['[[', ']]'],
			template: '<h2 class="dashboard__primary__heading">Coming soon</h2>'
		})

		var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data: {
				currentComponent: 'video-list'
			},
			computed: {
				dynamicComponent: function() {
					return this.currentComponent;
				}
			},
			methods: {
				toPlaylists: function () {
					this.currentComponent = 'playlist-list';
				},
				toUploads: function () {
					this.currentComponent = 'video-list';
				}
			},
			template: `
				<div class="dashboard__body">
					<div class="dashboard__sidebar">
						<div class="dashboard__sidebar__item" v-on:click="toUploads">Uploads</div>
						<div class="dashboard__sidebar__item" v-on:click="toPlaylists">Playlists</div>
					</div>
					<div class="dashboard__primary">
						<component :is="dynamicComponent"></component>
					</div>
				</div>`
		})
	</script>
{% endblock %}