{% extends 'web/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
	<title>Forgot Password - Tracle</title>
{% endblock %}

{% block css %}
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/forgot_password.scss' %}">
	{% endcompress %}
{% endblock %}

{% block body %}
<div class="container">
	{% include 'web/includes/nav.html' %}
	<div class="form-container">
		{% if not validlink %}
			<h2>Something went wrong.</h2>
		{% else %}
			<p class="form-container__head">
				Please enter your new password twice so we can verify you typed it in correctly.
			</p>
			<form class="form-container__form" method="post">
				{% csrf_token %}
				{% for field in form %}
				  <p>
				    {{ field }}
				    {% for error in field.errors %}
				      <p style="color: red">{{ error }}</p>
				    {% endfor %}
				  </p>
				{% endfor %}
				<input class="btn btn-blue" type="submit" value="Submit">
			</form>
		{% endif %}
	</div>
</div>
{% endblock %}
