{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Community Guidelines - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/terms.scss' %}">
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}
		<div class="body">
			<p><strong>Note: Subject to change soon</strong></p>

			<h2>Tracle Community Guidelines</h2>

			<h3>The Tracle rules</h3>
			<ul>
				<li>Do not use this website if you are under 13 years of age.</li>
				<li>Do not repeatedly post the same video/comment.</li>
				<li>Videos depicting sexual acts are not allowed on this website.</li>
				<li>Accounts that appear to be hacked will be disabled until the situation is dealt with.</li>
				<li>Do not share your login details with anyone. Tracle will never ask for your login info.</li>
				<li>Do not upload hate speech, or any other form of content meant to generate and spread hate against a group of people.</li>
				<li>Do not use Tracle to harass or bully other people, or spread the personal information of others without their consent.</li>
			</ul>
			
			<h3>Tracle and Guideline enforcement</h3>
			<p>
				We try our best to quickly take down content found in violation of the guidelines, and make sure the offending accounts get disciplined.
				Serious or repeat violations can result in the offending account being terminated.
			</p>
		</div>
		{% include 'web/includes/footer.html' %}
	</div>
{% endblock %}