{% extends 'web/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/inbox_notifications.scss' %}">
{% endblock %}

{% block body %}
<div class="container">
	{% include 'web/includes/nav.html' %}
	<div id="app">
	</div>
	{% include 'web/includes/footer.html' %}
</div>
{% csrf_token %}
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		Vue.filter('userTags', function (value) {
			r = /\@\((.+)\)\[(.*)\]/
			return value.replace(r, '@$1');
		})

		Vue.component('notification-entry', {
			delimiters: ['[[', ']]'],
			props: ['notification'],
			computed: {
				action_text () {
					if (this.notification.notification_type === 'TA') {
						return 'tagged you:'
					}
					else if (this.notification.notification_type === 'CO') {
						return 'commented:'
					}
					else if (this.notification.notification_type === 'VI') {
						return 'uploaded:'
					}

				},
				target_link() {
					if (this.notification.notification_type === 'TA') {
						return '/watch?v=' + this.notification.target_object.watch_id + '#comment-' + this.notification.action_object.id; 
					}
					else if (this.notification.notification_type === 'CO' ) {
						return '/watch?v=' + this.notification.target_object.watch_id + '#comment-' + this.notification.action_object.id;
					}
					else if (this.notification.notification_type === 'VI') {
						return '/watch?v=' + this.notification.action_object.watch_id;
					}
				}
			},
			methods: {
				markRead() {
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData()
					data.append('id', this.notification.id);
					axios.post('/api/notifications', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {
						this.$emit('fetch_unread_notifications');
					})
					.catch(error => {
						console.log(error.response.data);
					});
				},
				deleteNotification() {
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					axios.delete('/api/notifications?id=' + this.notification.id, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {this.$emit('fetch_all_notifications')})
					.catch(error => {console.log(error.response.data);});
				},
				markReadAndOpen(event) {
					event.preventDefault();
					console.log(this.target_link);
					var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
					var data = new FormData()
					data.append('id', this.notification.id);
					axios.post('/api/notifications', data, {headers: {'X-CSRFToken' : csrftoken, 'Content-Type': 'multipart/form-data'}})
					.then(response => {document.location = this.target_link;})
					.catch(error => {document.location = this.target_link;})
				}
			},
			template: `
				<div class="notification__container">
					<div v-if="notification.unread" class="notification__action" @click="markRead">
						<i class="fas fa-envelope"></i>
					</div>
					<div v-else class="notification__action" @click="deleteNotification">
						<i style="color: #999;" class="fas fa-trash"></i>
					</div>
					<a  class="notification" :href="target_link" @click="markReadAndOpen($event)">
						<img class="notification__avatar" :src="notification.actor.avatar">
						<div class="notification__details">
							<div>
								[[ notification.actor.name ]] [[ action_text ]]
								<span v-if="notification.notification_type === 'VI'">[[ notification.action_object.title ]]</span>
								<span v-else>[[ notification.action_object.text|userTags ]]</span>
							</div>
							<div class="notification__details__timestamp">[[ notification.created ]]</div>
						</div>
						<img class="notification__thumb" v-if="notification.notification_type === 'VI'" :src="notification.action_object.thumbnail">
						<img class="notification__thumb" v-else :src="notification.target_object.thumbnail">
					</a>
				</div>
			`
		});
		var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data: {
				current_count: 0,
				current_list: [],
				unread_count: 0,
				unread_list: [],
				all_count: 0,
				all_list: [],
				header_text: 'Unread Notifications'
			},
			mounted () {
				this.fetch_unread_notifications();
			},
			methods: {
				fetch_unread_notifications() {
					axios.get('/api/notifications?status=unread')
					.then(response => {
						this.header_text = 'Unread Notifications';
						this.unread_count = response.data.unread_count;
						this.unread_list = response.data.unread_list;
						this.current_count = this.unread_count;
						this.current_list = this.unread_list;
					})
					.catch(error => {
						console.log(error.response.data);
					});	
				},
				fetch_all_notifications() {
					axios.get('/api/notifications?status=all')
					.then(response => {
						this.header_text = 'All Notifications';
						this.all_count = response.data.unread_count;
						this.all_list = response.data.unread_list;
						this.current_list = this.all_list;
						this.current_count = this.all_count;
					})
					.catch(error => {
						console.log(error.response.data);
					});
				}
			},
			template: `
				<div class="inbox-container">
					<div class="inbox__sidebar">
						<div class="inbox__sidebar__item" @click="fetch_unread_notifications">Unread</div>
						<div class="inbox__sidebar__item" @click="fetch_all_notifications">All</div>
					</div>
					<div class="inbox__primary">
						<h2 class="inbox__primary__header">[[ header_text ]] ([[ current_count ]])</h2>
						<div class="notification-list">
							<div v-if="current_count > 0">
								<notification-entry v-for="notification in current_list" v-bind:key="notification.id" v-bind:notification="notification" v-on:fetch_unread_notifications="fetch_unread_notifications" v-on:fetch_all_notifications="fetch_all_notifications"></notification-entry>
							</div>
							<div v-else>
								<div>No notifications. :(</div>
							</div>
						</div>
					</div>
				</div>
			`
		});
	</script>
{% endblock %}