{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Terms Of Use - Tracle</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/terms.scss' %}">
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'web/includes/nav.html' %}
		<div class="body">
			<p><strong>Note: Subject to change soon</strong></p>

			<h2>Tracle Terms of Use</h2>

			<h3>Introductory to the Site</h3>
			<p>
				We want you to read the Terms of Use in complete before using Tracle or creating an account for Tracle.

				If your going to use or access Tracle, you made the decision to accept the Terms of Use. If you don’t agree with the Terms of Use then you, the user may be advice not to use Tracle.

				Termination on your Tracle Account
				We are allowed to terminate or suspend your account in an instant, without any notice or liability, for pretty much any reason.

				Upon the terminating of your Tracle Account, your right to even use or look at the site is taken away from you at the same time we terminate your account.
			</p>

			<h3>Your Tracle Account</h3>
			<p>
				When you signed up to Tracle, we would like information that is up to par with your information e.g. accuracy and current. If you don’t make your information accurate or current, we could terminate your account from Tracle.

				Please Keep your password towards yourself, if your password has been breached or your account had suspicious activity you didn’t done, please contact one of the Admins or Moderators to help you forward and we can ban the individual’s IP from the website.

				Please do not impersonate under someone else. That includes Famous individuals, Brands, companies or any of the staff team at Tracle.

				Please also do not add Vulgar language to your profile name, we will send you a request to change your profile name and if you don’t change it within the 7 days we sent the request, we will terminate your account.
			</p>

			<h3>Copyright Policy</h3>
			<p>
				If you are a copyright holder, or authorised on behalf as one, and you think that your copyrighted work has be uploaded in the site in a way that you think that it contributes the infringement of the copyright that is on our site, you must contact us immediately with your notice and please type “infringement of Copyright” as the header on your email and send it to info@tracle.tv and please write in a detailed description including the time stamps on where your contact has been used.

				You may be held accountable for damages which does includes Costs with the courts and Attorneys’ fees for misrepresenting that any content is infringing your copyright.
			</p>

			<h3>Video content on Tracle</h3>
			<p>
				Here at Tracle, we allow you to post, share and link our content. You can share certain information, text, graphics, videos or anything else classed as content. After all, you are responsible for the content you post to Tracle which it does includes its appropriateness, legality and reliability.

				By uploading your content to Tracle, you gave us the right to use, publicly perform/display, modify, reproduce and distribute your content on and through Tracle. Don’t worry though, since you made the video you still own the video which is a win win situation.

				You represent and warrant that the video you upload is yours or you have the right to upload the video from the original copyright holders you gave us the rights and licence as provided in the TOU and the posting of your video through Tracle does not violate, copyrights, contract rights, privacy rights, publicity right or any other rights of any individual.
			</p>

			<h3>Weblinks to 3rd party websites</h3>
			<p>
				Tracle may contain weblinks to out of site services or websites that are not sadly both owned or controlled by Tracle.
				We advise you to read the terms, conditions and privacy policies from any website you want to link or visit.
			</p>
		</div>
		{% include 'web/includes/footer.html' %}
	</div>
{% endblock %}