{% extends 'web/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
	<title>Verify Your E-mail Address - Tracle</title>
{% endblock %}

{% block css %}
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/verification_sent.scss' %}">
	{% endcompress %}
{% endblock %}

{% block body %}

<div class="container">
	{% include 'web/includes/nav.html' %}

    <h1>Verify Your E-mail Address</h1>

    <p style="font-size: 1.2em">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}