{% extends 'web/base.html' %}
{% load static %}

{% block title %}
	<title>Verify Your E-mail Address - TRACLE</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/verification_sent.css' %}">
{% endblock %}

{% block body %}

<div class="container">
	{% include 'web/includes/nav.html' %}

    <h1>Verify Your E-mail Address</h1>

    <p style="font-size: 1.2em">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}