{% extends 'web/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}<title>History - Tracle</title>{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'web/scss/watch_history.scss' %}">
{% endblock css %}

{% block body %}
    <div class="container">
        {% include 'web/includes/nav.html' %}

        {% include 'web/includes/sidebar.html' %}

        <div class="feed">
            <div class="feed__header" onclick="toggleCategories()">
                <h2><i class="fas fa-list"></i> History</h2>
                <div><i id="header-drop" class="fas fa-angle-down"></i></div>
            </div>
            <ul id="cat-list" class="sidebar__guide sidebar__guide__closed">
                {% if user.is_authenticated %}
                    <li id="subscriptions" style="margin-bottom: 2em" class="sidebar__guide__item"><i class="fas fa-list sidebar__guide__item__icon"></i><a href="/?c=subscriptions">Subscriptions</a></li>
                {% endif %}
                <li id="from_tracle" class="sidebar__guide__item"><i class="fas fa-list sidebar__guide__item__icon"></i><a href="{% url 'web_home' %}">From Tracle</a></li>
                {% for category in categories %}
                    <li class="sidebar__guide__item"><i class="fas {{ category.icon }} sidebar__guide__item__icon"></i><a href="/?c={{ category.slug }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
            {% if not videos %}
                <p style="margin: 2em auto; text-align: center">We couldn't find any videos, sorry.</p>
            {% else %}
            <div class="feed__container">
                {% for video in videos %}
                <div class="feed__video">
                    <a href="{% url 'web_watch' %}?v={{ video.watch_id }}"><img class="feed__video__thumbnail" src="{{ video.get_thumbnail }}"></a>
                    <div class="feed__video__details">
                        <h2 class="feed__video__details__title"><a href="{% url 'web_watch' %}?v={{ video.watch_id }}">{{ video.title }}</a></h2>
                        <div class="feed__video__details__description">{{ video.description }}</div>
                        <div class="feed__video__details__views">{{ video.views }} views</div>
                        <a href="{% url 'web_channel' video.channel.channel_id %}" class="feed__video__details__channel">{{ video.channel.name }} </a>
                        <div class="feed__video__details__timestamp">{{ video.created|naturaltime}}</div>
                    </div>
                </div>
                {% endfor %}
                <div class="pagination">
                    <div class="pagination__step-links">
                        {% if videos.has_previous %}
                            <a class="btn btn-gray" href="?p=1">&laquo;</a>
                            <a class="btn btn-gray" href="?p={{ videos.previous_page_number }}">&lt;</a>
                        {% endif %}

                        <span class="pagination__current">
                            Page {{ videos.number }} of {{ videos.paginator.num_pages }}
                        </span>

                        {% if videos.has_next %}
                            <a class="btn btn-gray" href="?p={{ videos.next_page_number }}">&gt;</a>
                            <a class="btn btn-gray" href="?p={{ videos.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% include 'web/includes/footer.html' %}
    </div>
{% endblock body  %}