.nav {
	display: flex;
	grid-area: nav;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0px;
	min-height: 48px;
	font-size: 1rem;

	&__search {
		display: flex;
		overflow: hidden;
		padding: 3px;
		position: absolute;
		right: 0;
		left: 0;
		top: -999px;
		justify-content: space-between;
		background-color: #ebebeb;
		transform: scale(0, 1);
		opacity: 0;
		transform-origin: right;
		transition: transform 300ms ease, opacity 600ms ease 100ms;

		@media only screen and (min-width: 768px) {
			position: relative;
		    top: 0;
		    opacity: 1;
		    transform: scale(1, 1);
		    width: 50%;
		    justify-content: flex-start;
		    margin-right: 16px;
		}

		> form {
			display: flex;
			width: 100%
		}

		&-opened {
			display: flex;
			transform: scale(1, 1);
			opacity: 1;
			top: 8px;
		}

		&__input {
			border: 1px solid #ccc;
		    border-right: 0px;
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
			padding: .25em 1em;
			outline: 0;
			width: 100%;
		}

		&__submit {
		    height: 32px;
		}

		&__open {
			height: 32px;
			margin-right: 10px;
			@media only screen and (min-width: 768px) {
				display: none;
			}
		}

		&__close {
			@media only screen and (min-width: 768px) {
				display: none;
			}
		}
	}

	&__item {
		color: #333;
	    text-decoration: none;
	}

	&__brand {
		margin-right: 16px;

		> img {
			max-width: 8em;
		}
	}

	&__left {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 95%;
		@media only screen and (min-width: 768px) {
			justify-content: flex-start;
		}

	}

	&__right {
		display: flex;
		position: relative;
		justify-content: flex-end;

		@media only screen and (min-width: 768px) {
			min-width: 12em;
		}
	}

	&__section {
		display: flex;

		@media only screen and (max-width: 767px) {
			display: none;
		}

		> .seperator {
			color: #ccc;
		    padding: 0 5px;
		}
	}

	&__toggle {
		cursor: pointer;
		display: block;
	    font-size: 1.8rem;
		@media only screen and (min-width: 768px) {
			display: none;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
        font-size: 1.6rem;
	    line-height: 1.4;
	    transform-origin: top;
	    transform: scale(1, 0);
	    opacity: 0;
	    transition: transform 150ms ease-in-out, opacity 300ms ease-in-out;
	    background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(226,226,226,1) 35%, rgba(238,238,238,1) 100%);
	    z-index: 1;

	    &__open {
	    	transform: scale(1, 1);
	    	opacity: 1;
	    }

	    &__head {
	    	display: flex;
			align-items: center;

			> button {
				margin: 1em;
				margin-right: 3em;
			}
	    }

		> .item {
			display: block;
			text-decoration: none;
			color: #333;
			border-bottom: 1px solid white;
			margin: 1em;
		}
	}
}