@use 'base';

.container {
	width: 90vw;
	margin: 0 auto;
}

.signup {

	&__container {

		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 2em 0 0 0;

		@media only screen and (min-width: 1280px) {
			margin: 5em 0 0 0;
			flex-direction: row;
		}
	}

	&__header {
		color: #333;
		line-height: 2rem;
		margin-bottom: 3em;

		@media only screen and (min-width: 1280px) {
			margin-right: 3em;
		}

		> h2 {
			color: #666;
		}

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 335px;
		background-color: #f5f5f5;
		padding: 20px 25px 15px;
		border: 1px solid #e5e5e5;

		&__button {
			font-size: 0.9rem;
		}

		input[type=email],input[type=password],input[type=text] {
			width: 100%;
		}

		&__signin {
			display: inline-block;
			vertical-align: top;
			color: #666;
			margin: 6px 0 0 10px;
		}
	}
}

.errorlist {
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: red;
}

.errorlist li {

}